<div class="modal" data-keyboard='static' data-backdrop='false' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <form onsubmit="return false" action="__SELF__" data-ajax="true" method="post">
                <div class="modal-header title">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><block name='title'>{$ptitle}</block></h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上级分类<empty name="vo"> <b class="required">*</b></empty></label>
                            <div class="col-sm-9">
                                <select class="form-control" name="pid">
                                    <!--<volist name="plist" id="cat">-->
                                    <option <eq name="cat.id" value="$vo.pid">selected</eq> value="{$cat.id}" >{$cat.spl}{$cat.title}</option>
                                    <!--</volist>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label tr">分类名称 <b class="required">*</b></label>
                            <div class="col-sm-9">
                                <input name='title' value='{$vo.title}' class='form-control' required="" title='分类名称不能为空' />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类图片<empty name="vo"> <b class="required">*</b></empty></label>
                            <div class="col-sm-9">
                                <input type='hidden' name="link" value="{$vo.link}" />
                                <img data-name="link" alt="" data-online="true" class="thumbnail cursor upload_one_img h200" src="{$vo.link}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">前台显示</label>
                            <div class="col-sm-9">
                                <div class='form-control'>
                                    <label><input <neq name='vo.is_show' value='1'>checked</neq> type="radio" name="is_show" value="2" /> 启用</label>
                                    <label><input <eq name='vo.is_show' value='1'>checked</eq> type="radio" name="is_show" value="1" /> 禁用</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类状态</label>
                            <div class="col-sm-9">
                                <div class='form-control'>
                                    <label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
                                    <label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类描述</label>
                            <div class="col-sm-9">
                                <textarea name='desc' class='form-control'>{$vo.desc}</textarea>
                            </div>
                        </div>
                        <notempty name="vo">
                            <input type="hidden" value="{$vo.id|default=0}" name="id"/>
                        </notempty>

                    </div>
                </div>
                <div class="modal-footer">
                    <a class='btn btn-warning btn-sm mr20' onclick="confirm('确认要取消吗？') && $.form.close();" href='javascript:void(0);'>取消</a>
                    <button class="btn btn-success btn-sm mr10">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
