<extend name='Admin@Public:index' />

<block name='pContent'>
    <form onsubmit="return false" action="__SELF__" data-ajax="true" method="post"  class="form-horizontal mb40" role="form">
        <div class="panel panel-default mb10">
            <div class="panel-heading title">
                {$ptitle}
            </div>

            <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">网站标题 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input autofocus required="" value="{$vo.title}" pattern="^.{2,}$" title="官网名称至少2个字符！" type="text"   name="title" class="form-control" placeholder="输入官网名称">
                </div>
            </div>

            <div class="form-group pl10 pr10">
                <label class="col-sm-2 control-label">微信网页授权</label>
                <div class="col-sm-9">
                    <div class='form-control'>
                        <label><input <eq name='vo.is_wechat_auth' value='2'>checked</eq> type="radio" name="is_wechat_auth" value="2" /> 开启</label>
                        <label><input <neq name='vo.is_wechat_auth' value='2'>checked</neq> type="radio" name="is_wechat_auth" value="1" /> 关闭</label>
                    </div>
                    <p class='help-block'>开启后全站必需在微信中访问，并自动进行微信网面授权，识别用户身份。</p>
                </div>
            </div>

            <div class="form-group pl10 pr10">
                <label class="col-sm-2 control-label">页面分享积分</label>
                <div class="col-sm-9">
                    <div class='form-control'>
                        <label><input <eq name='vo.page_share_integral' value='2'>checked</eq> type="radio" name="page_share_integral" value="2" /> 开启</label>
                        <label><input <neq name='vo.page_share_integral' value='2'>checked</neq> type="radio" name="page_share_integral" value="1" /> 关闭</label>
                    </div>
                    <p class='help-block'>具体积分数请到具体页面编辑填写，此功能需要进行微信网页授权。</p>
                </div>
            </div>
            
            <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">页面每天分享次数 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input autofocus required="" value="{$vo.page_share_num}" pattern="number" title="请输入数字" type="text"   name="page_share_num" class="form-control" placeholder="输入次数">
                </div>
            </div>

            <div class="form-group pl10 pr10">
                <label class="col-sm-2 control-label">内容分享积分</label>
                <div class="col-sm-9">
                    <div class='form-control'>
                        <label><input <eq name='vo.content_share_integral' value='2'>checked</eq> type="radio" name="content_share_integral" value="2" /> 开启</label>
                        <label><input <neq name='vo.content_share_integral' value='2'>checked</neq> type="radio" name="content_share_integral" value="1" /> 关闭</label>
                    </div>
                    <p class='help-block'>具体积分数请到内容编辑填写，此功能需要进行微信网页授权。</p>
                </div>
            </div>
            
            <div class="form-group mt20 pl10 pr10">
                <label class="col-sm-2 control-label tr">内容每天分享次数 <b class="required">*</b></label>
                <div class="col-sm-9">
                    <input autofocus required="" value="{$vo.content_share_num}" pattern="number" title="请输入数字" type="text"   name="content_share_num" class="form-control" placeholder="输入次数">
                </div>
            </div>

            <div class="form-group pl10 pr10">
                <label class="col-sm-2 control-label">百度统计Key</label>
                <div class="col-sm-9">
                    <input class='form-control' name='baidu_tongji_key' value='{$vo.baidu_tongji_key}' />
                    <p class='help-block'>使用百度统计记录页面访问情况，了解详情<a href='http://tongji.baidu.com' target="_blank">点击这里</a>。</p>
                </div>
            </div>

            <div class="form-group pl10 pr10">
                <label class="col-sm-2 control-label">网站运行开关</label>
                <div class="col-sm-9">
                    <div class='form-control'>
                        <label><input <neq name='vo.is_disable' value='1'>checked</neq> type="radio" name="is_disable" value="2" /> 开启</label>
                        <label><input <eq name='vo.is_disable' value='1'>checked</eq> type="radio" name="is_disable" value="1" /> 关闭</label>
                    </div>
                    <p class='help-block red'>网站开放总开关设置，请谨慎操作此项配置。</p>
                </div>
            </div>

            <div class="form-group pl10 pr10">
                <label class="col-sm-2 control-label">网站关闭提示</label>
                <div class="col-sm-9">
                    <textarea class='form-control' name='disabled_msg'>{$vo.disabled_msg}</textarea>
                </div>
            </div>

            <input type="hidden" value="1" name="id"/>

            <if condition="auth('site/config/edit')">
                <div class="tc p20">
                    <button class="btn btn-success btn-sm"> 保 存 </button>
                </div>
            </if>
        </div>
    </form>
</block>