<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}	
    <span class='pull-right'>
        <if condition="auth('Site/Content/add')">
            <button data-load="{:U('Site/Content/add')}" class="btn btn-success btn-sm mr5">添加文章</button>
        </if>
    </span>
</block>

<block name="search">
    <form onsubmit="return false" class="form-inline" action="__SELF__" method="GET" id="search_form" role="form">
        <div class="form-group p10">
            <label class="control-label">分类</label>
            <select class="form-control" name="cid">
                <option value=''>全部</option>
                <volist name='catList' id='cat'>
                    <option <eq name="Think.get.cid" value="$cat.id">selected</eq> value="{$cat.id}">{$cat.spl}{$cat.title}</option>
                </volist>
            </select>
        </div>
        <div class="form-group p10">
            <label class="control-label">前台显示</label>
            <select class="form-control" name="is_show">
                <option value=''>全部</option>
                <option <eq name="Think.get.is_show" value="2">selected</eq> value='2'>显示</option>
                <option <eq name="Think.get.is_show" value="1">selected</eq> value='1'>不显示</option>
            </select>
        </div>
        <div class="form-group p10">
            <label class="control-label">微信关键字</label>
            <input class="form-control" name="keys" value="{$Think.get.keys}" />
        </div>

        <!--        
        <div class="form-group p10">
            <label class="control-label">手机号码</label>
            <input class="form-control" name="phone" value="{$Think.get.phone}" />
        </div>
        -->


        <div class="form-group p10 ml20">
            <div class="input-group ">
                <div class="cursor mr5 mt2 btn btn-default btn-sm" onclick="search_form.submit()">
                    <span class="glyphicon glyphicon-search"></span> 搜索
                </div>
            </div>
        </div>
    </form>
</block>

<block name='content'>
    <wx:table 
        list='list'
        color="status|show_color"
        sort="true"
        check="false"
        order="true"
        class='table table-striped table-responsive table-bordered table-center' 
        show='title:标题,keys|create_qrc:关键字,integral:分享积分,is_show:前台显示,url:链接类型,link|show_img_link:主题图片,click:点击数,create_date:发布时间' 
        action="id|show_load_button:编辑#Site/Content/edit,id|show_status_button,id|show_del_button:删除#Site/Content/del" />
</block>