<extend name='Admin@Public:form' />

<block name='form'>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">页面网址 <b class="required">*</b></label>
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon pr0 border-none">{:get_domain()}__ROOT__/wap/</div>
                <input name='code' value='{$vo.code}' required="" pattern="^[a-z\-\_A-Z]{1,}$" class='form-control pl5' title='页面网址不能为空' />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">页面标题</label>
        <div class="col-sm-9">
            <p><label class='control-label'><input name='is_show_title' value='2' <eq name='vo.is_show_title' value='2'>checked</eq> type='checkbox'/> 在页面上显示标题</label></p>
            <input name='title' value='{$vo.title}' class='form-control' />
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">微信网页授权</label>
        <div class="col-sm-9">
            <label class='control-label'><input <eq name='vo.is_wechat_auth' value='2'>checked</eq> type="radio" name="is_wechat_auth" value="2" /> 启用</label>
            <label  class='control-label'><input <neq name='vo.is_wechat_auth' value='2'>checked</neq> type="radio" name="is_wechat_auth" value="1" /> 关闭</label>
            <p class='help-block'>开启后页面<span class='red'>必需在微信中才能访问</span>，并自动进行微信网页授权，识别用户身份。</p>
        </div>
    </div>
    <eq name='wapsite.page_share_integral' value='2'>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">分享积分</label>
        <div class="col-sm-9">
            <input type='number' pattern="^[0-9]{1,}$" name='integral' value='{$vo.integral}' class='form-control' />
            <p class='help-block'>当填写的积分数大于0时有效，此功能<span class='red'>需要开启微信网页授权</span>。</p>
        </div>
    </div>
    </eq>

    <div class="form-group">
        <label class="col-sm-2 control-label">主题图片<empty name="vo"> <b class="required">*</b></empty></label>
        <div class="col-sm-9">
            <p><label class='control-label'><input name='is_show_link' value='2' <eq name='vo.is_show_link' value='2'>checked</eq> type='checkbox'/> 在页面TOP图片显示</label></p>
            <input type='hidden' name="link" value="{$vo.link}" />
            <img data-name="link" data-online="true" alt="" class="thumbnail cursor upload_one_img h100" src="{$vo.link}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">功能模块<empty name="vo"> <b class="required">*</b></empty></label>
        <div class="col-sm-9">
            <volist  name="modules" id="module">
                <label class='control-label mr10'>
                    <input name='module[]' <notempty name='module.checked'>checked="checked"</notempty> value='{$module.id}' type='checkbox' /> {$module.name}({$module.type})
                </label>
            </volist>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">微信关键字</label>
        <div class="col-sm-9">
            <input name='keys' value='{$vo.keys}' class='form-control' />
            <p class='help-block'>在微信中发送此关键字将返回对应的图文链接（可留空）</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">跳转链接<empty name="vo"> <b class="required">*</b></empty></label>
        <div class="col-sm-9">
            <input name='url' value='{$vo.url}' class='form-control'  />
            <font class="red">请注意，不需要跳转请留空，否则将优先跳转</font>
        </div>
    </div>                        
    <div class="form-group">
        <label class="col-sm-2 control-label">页面内容</label>
        <div class="col-sm-9">
            <textarea style='height:180px;width:100%' data-editor name="content">{$vo.content}</textarea>
        </div>
    </div>
    <notempty name="vo">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>

</block>