<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}	
    <span class='pull-right'>
        <if condition="auth('Store/CreditProduct/edit')">
            <button class="btn btn-success btn-sm mr5" onclick="delmore()">批量删除</button>
        </if>
    </span>
    <span class='pull-right'>
        <if condition="auth('Store/CreditProduct/add')">
            <button data-load="{:U('Store/CreditProduct/add')}" class="btn btn-success btn-sm mr5">添加产品</button>
        </if>
    </span>
<!--    <span class='pull-right'>
        <if condition="auth('Store/CreditProduct/edit')">
            <button data-load="{:U('Store/CreditProduct/leadTo')}" class="btn btn-success btn-sm mr5">导入产品</button>
        </if>
    </span>-->
</block>

<block name='content'>
    <wx:table 
        list='list'
        order='true'
        color="status|show_color"
        class='table table-striped table-responsive table-bordered table-center' 
        show='name|show_alink=$vo:产品名称（有链接）,product_sn:产品货号,logo|show_img_link:图片,cat_id|get_product_name:产品分类,store_nums:总库存,status|show_status_text:状态' 
        action="id|show_load_button:编辑#Store/CreditProduct/edit,id|show_status_button"/>
</block>
<!--,is_recommend|show_recommend=$vo#Store/CreditProduct/recommend"-->
<block name="script">
    <script>
		function view(id) {
			$.form.load('__URL__/view');
		}

		//推荐按钮功能
		function recommend(is_recommend, id) {
			if (id) {
				var words = '';
				is_recommend = parseInt(is_recommend);
				is_recommend ? words = "取消推荐" : words = "推荐";
				window.confirm('确定' + words + '操作吗？') && $.post('{:U("Store/CreditProduct/recommend")}', {id: id, is_recommend: is_recommend}, function (data) {
					if (data.status) {
						window.location.reload();
					}
				});
			}
		}

		//批量删除
		function delmore() {
			var ids = new Array();
			$("input[type=checkbox]").each(function () {
				if ($(this).is(":checked")) {
					if ($(this).val() > 0) {
						ids.push($(this).val());
					}
				}
			});
			window.confirm('确定删除吗？') && $.post('{:U("Store/CreditProduct/delmore")}', {"ids": ids}, function (data) {
				if (data.status) {
					setTimeout(function () {
						window.location.reload();
					}, 1600);
				}
			});
		}
    </script>
</block>



