<extend name='Admin@Public:form' />

<block name='form'>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">快递名称 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input autofocus required="" value="{$vo.name}" pattern="^.{2,}$" title="名称不能少于2个字" type="text" name="name" class="form-control" id="name" placeholder="输入快递名称">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">快递费用 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input autofocus required="" value="{$vo.firstprice}" title="不能为空" type="text" name="firstprice" class="form-control" id="firstprice" placeholder="请输入快递费用">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">配送区域 <b class="required">*</b></label>
        <div class="col-sm-9">
            <textarea name='area_groupid' required="" title="不能为空" placeholder="请描述快递配送区域" class="form-control" rows="4">{$vo.area_groupid}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">排序 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input required="" value="{$vo.sort|default=0}" type="text" name="sort" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-9">
            <div class='form-control'>
                <label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
                <label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
            </div>
        </div>
    </div>
    <input type="hidden" name="type" value="1"/>
    <notempty name="vo">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>
</block>