<extend name='Admin@Public:form' />

<block name="form">
    <table class="table table-condensed">
        <tr class="info">
            <td>订单金额：{$vo.order_amount}</td>
            <td>快递费用：{$vo.pay_freight}</td>
            <td>活动优惠金额{$vo.promotions}</td>
            <td>订单总计: {$total_price}</td>

        </tr>
    </table>

    <div class="form-group">
        <label class="col-sm-2 control-label tr">改价优惠金额</label>
        <div class="col-sm-9">
            <input type="text" name="promotions"  value="{$vo.promotions}"  class="form-control" placeholder="请输入的优惠金额"/>
            <span class="help-block">填写改价金额之后，将会在订单金额的基础上减去改价金额（支持加减乘除运算：100+10-10/2）</span>
        </div>
    </div>
</block>

<block name='script'>
    <script>
        $(function () {
            $('input[name="promotions"]').on('blur', function () {
                var promotions = this.value;
                try {
                    var p = /[\-\+\*\/]/g;
                    if (p.test(promotions)) {
                        promotions = eval(promotions);
                    }
                    this.value = promotions;
                } catch (e) {
                    alert('运算表达式错误，' + JSON.stringify(e));
                }
            });
        });
    </script>
</block>