<extend name='Admin@Public:form' />

<block name="content">

    <div class="modal-header title">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">订单详情</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-12 ">
                <div class="well p0 pb20">
                    <div class='split'>
                        <i class='glyphicon glyphicon-edit'></i> 订单状态
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-10 col-xs-offset-1">
                            <!--<in name="vo.status" value="3,4">-->
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                订单于 {$vo.cancel_date} 取消，无法再继续操作！
                                <!--<in name="vo.pay_status" value="1">-->
                                <!--<in name="vo.status" value="3">-->
                                <button type="button" onclick="cancelOrder(false)" class="btn btn-warning">手动退款</button>
                                <!--</in>-->
                                <!--</in>-->
                            </div>
                            <!--<else />-->
                            <!--<in name="vo.status" value="5">-->
                            <div class="alert alert-success alert-dismissible fade in" role="alert">
                                订单于 {$vo.success_date} 完成！
                            </div>
                            <!--<else />-->

                            <div class="btn-group">
                                <in name='vo.send_status' value='0,1'>
                                <button type="button" onclick="$('.post_form').toggle()" class="btn btn-info">
                                    {:intval($vo['send_status'])===0 ? '录入发货信息' : '修改物流信息'}
                                </button>
                                </in>
                                <in name='vo.send_status' value='0'>
                                <button type="button" onclick="cancelOrder(true)" class="btn btn-warning">取消订单</button>
                                </in>
                                <in name='vo.send_status' value='2'>
                                <button type="button" onclick="confirmOrder()" class="btn btn-success">完成订单</button>
                                </in>
                            </div>

                            <form onsubmit="return false" action="__SELF__" class="post_form" style="display:none" data-ajax="true" method="post">
                                <div class="panel-body form-horizontal pl0">
                                    <div class="col-sm-4 pl0">
                                        <h5 class="color_8b"><i class='glyphicon glyphicon-plane'></i> 货运公司 <b class="required">*</b></h5>
                                        <select name="freight" class="form-control">
                                            <!--<volist name="vo.freights" id="fre">-->
                                            <option <eq name="vo.freight" value="$fre.name">selected</eq> value="{$fre.name}">{$fre.name}</option>
                                            <!--</volist>-->
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <h5 class="color_8b"><i class='glyphicon glyphicon-barcode'></i> 物流单号 <b class="required">*</b></h5>
                                        <input value="{$vo.freight_num}" required='' title='请输入物流单号' type="text" name="freight_num" class="form-control" />
                                    </div>
                                    <div class="col-sm-4">
                                        <h5 class="color_8b">　</h5>
                                        <notempty name="vo">
                                            <input type="hidden" value="1" name="send_status"/>
                                            <input type="hidden" value="{$vo.id|default=0}" name="id"/>
                                            <input type="hidden" value="{$vo.freight_date}" name="freight_date" />
                                        </notempty>
                                        <button class="btn btn-success btn-sm">提交数据</button>
                                    </div>
                                </div>
                            </form>
                            <!--</in>-->
                            <!--</in>-->
                            <script>
                                /* 完成订单 */
                                function confirmOrder() {
                                    var post_data = {
                                        id: '{$vo.id}',
                                        success_date: '{:get_now_date()}',
                                        status: '5'
                                    };
                                    window.confirm('确定要完成这笔订单吗？') && $.post('__SELF__', post_data, function (data) {
                                        $.msg.auto(data);
                                    }, 'JSON');
                                }
                                /* 取消订单 */
                                function cancelOrder($confirm) {
                                    var post_data = {
                                        id: '{$vo.id}',
                                        cancel_date: '{:get_now_date()}',
                                        status: '3'
                                    };
                                    if ($confirm && window.confirm('确定要取消这笔订单吗？')) {
                                        $.form.load('__SELF__', post_data, 'POST');
                                    } else if($confirm==false) {
                                        post_data.action = "refund";
                                        $.form.load('__SELF__', post_data, 'POST');
                                    }
                                }
                            </script>
                        </div>
                    </div>
                    <notempty name="vo.freight">
                        <div class='split'>
                            <i class='glyphicon glyphicon-edit'></i> 物流信息
                        </div>
                        <div class="row mt10">
                            <div class="col-xs-10 col-xs-offset-1">
                                <h5>
                                    货运公司：<a target="_blank" href="{$vo.freight_url}">{$vo.freight}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    物流单号：{$vo.freight_num}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    发货时间：{$vo.freight_date}
                                </h5>
                                <notempty name='vo.sign_date'>
                                    <h5 class='mt20'>
                                        客户已确认签收到物品，确认时间 {$vo.sign_date}
                                    </h5>
                                </notempty>
                            </div>
                        </div>
                    </notempty>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 pr10">
                <div class="well p0 pb20">
                    <div class='split'>
                        <i class='glyphicon glyphicon-edit'></i> 配送信息
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">收货人：</div>
                        <div class="col-xs-8">{$vo.accept_name}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">联系电话：</div>
                        <div class="col-xs-8">{$vo.phone}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">支付方式：</div>
                        <div class="col-xs-8"><eq name="vo.pay_type" value="1">微信支付<else/>货到付款</eq></div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">微信支付订单号：</div>
                        <div class="col-xs-8">{$vo.trade_no}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">配送地址：</div>
                        <div class="col-xs-8">{$vo.province}{$vo.city}{$vo.area}{$vo.address}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 pl10">
                <div class="well p0 pb20">
                    <div class='split'>
                        <i class='glyphicon glyphicon-edit'></i> 订单信息
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">订单号：</div>
                        <div class="col-xs-8">{$vo.order_no}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">优惠金额：</div>
                        <div class="col-xs-8">-￥{$vo.promotions}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">快递费用：</div>
                        <div class="col-xs-8">￥{$vo.pay_freight}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">订单金额：</div>
                        <div class="col-xs-8">￥{$vo.order_amount}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">总金额：</div>
                        <div class="col-xs-8">￥{:sprintf("%.2f",$vo['order_amount']+$vo['pay_freight']-$vo['promotions'])}</div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-4 tr">订单时间：</div>
                        <div class="col-xs-8">{$vo.create_date}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <div class="well p0 pb20">
                    <div class='split'>
                        <i class='glyphicon glyphicon-edit'></i> 商品信息
                    </div>
                    <volist name="vo.info" id="prot">
                        <div class="row mt10">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="media">
                                    <img class="media-object pull-left" alt='' src="{$prot.product.logo}" style="width: 64px; height: 64px;">
                                    <div class="media-body">
                                        <h4 class="media-heading">{$prot.product_name}</h4>
                                        <div class="row mt10">
                                            <div class="col-xs-3">商品属性：{$prot.params|str_replace='_split_',' ',###}</div>
                                            <div class="col-xs-3">销售价格：￥{$prot.product_price}</div>
                                            <div class="col-xs-3">购买数量：{$prot.product_nums}</div>
                                            <div class="col-xs-3"><b>商品金额：￥{$prot['product_nums']*$prot['product_price']}</b></div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </volist>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a class='btn btn-warning btn-sm mr20' onclick="$.form.close();" href='javascript:void(0);'>关闭</a>
    </div>
</block>