<extend name='Wap@Public:index' />

<block name="body">
    <notempty name='vo.img'>
        <!--banner开始-->
        <div class="shadow overflow-hidden">
            <div class="box_pic">
                <if condition="count($vo['img']) gt 1 ">
                    <div id="slider1" class="swipe">
                        <ul class="piclist">
                            <volist name="vo.img" id="src">
                                <li><a href="#"><img class="img-responsive" src="{$src}" alt="" /></a></li>
                            </volist>
                        </ul>
                    </div>
                    <div id="pagenavi" class="page">
                        <span class="pageBox">

                        </span>
                    </div>
                    <else />
                    <volist name="vo.img" id="src">
                        <a href="#"><img class="img-responsive width-pct-100" src="src" alt="" /></a>
                    </volist>
                </if>
            </div>
        </div>
        <!--banner结束-->
    </notempty>
    <!--正文开始-->
    <div class="overflow-hidden shadow padding-left-20 padding-right-20 padding-bottom-30">
        <div class="border-dashed overflow-hidden margin-top-10">
            <div class="line-height-40 overflow-hidden p14 col-xs-8 padding-left-0">
                <h4 class="line-height-26">{$vo.name}</h4>
                <p class="line-height-24">
                    <span class="text-999 font-12">已售：<i class="main-color padding-right-4 normal">{$vo.sale}</i>笔</span>
                    <span class="text-999 font-12 padding-left-10">{$vo.id|get_delivery_price='credit'}</span>
                </p>
            </div>
            <div class="col-xs-4 line-height-48 margin-top-10 margin-top-18 text-center padding-right-0"><span class="high-light-color font-20 border-left-ddd"><span id='sell_credit'>{$vo.sell_credit}</span><span class="font-12">积分</span></span></div>
        </div>
        <div class="border-dashed padding-bottom-14">
            <volist name="vo.model_params" id="model_param" key="k">
                <p class="margin-top-20 product-attr">
                    <i class="text-999 margin-right-4 normal">{$key}：</i>
                    <span id='param' class="jk_speci">
                        <volist name="model_param" id="param">
                            <span class="inline-block border-ddd padding-left-right-20 padding-top-bottom-4 margin-right-8 param">{$param}</span>
                        </volist>
                    </span>
                </p>
            </volist>  
            <p class="margin-top-20 number">
                <i class="text-999 margin-right-4 normal">数量：</i>
                <span class="text-center">
                    <a class="increase border-ddd" data-dishid="1">-</a>
                    <input type="number" name='num' value="1"  data-min='1' data-max='99' class="amount border-ddd" id="amount_1">
                    <a class="reduce border-ddd" data-dishid="1">+</a>
                    <span class="text-center">库存<span id="store_nums">{$vo.store_nums}</span>件</span>
                </span>

            </p>
        </div>
        <div class="padding-top-12 text-999">
            <p>{$vo.property}</p>
            <p>注意事项：</p>
            <div>{$vo.notice}</div>
            <p>产品说明：</p>
            <div id='product_content'>{$vo.description}</div>
            <script>
                try {
                    var imgs = document.getElementById('product_content').getElementsByTagName('img');
                    var imgRemoveAttr = ['width', 'height', 'style'];
                    for (var i in imgs) {
                        for (var j in imgRemoveAttr)
                            imgs[i].removeAttribute(imgRemoveAttr[j]);
                        imgs[i].className += " img-responsive";
                    }
                } catch (e) {
                }
            </script>
            <p>兑换须知：</p>
            <div >{$vo.must_know}...</div>
        </div>

        <div style='height:60px;'></div>
    </div>
    <!--底部菜单栏开始-->
    <!--底部菜单栏介绍-->
    <!--底部兑换菜单栏开始-->
    <div class="padding-10 padding-top-12 shadow-bottom overflow-hidden margin-top-18 navbar-fixed-bottom">
        <input type="hidden" name="cid" value="{$vo.id}" />
        <input type="hidden" name="action" value="" />
        <div class="col-xs-12"><button class="btn btn-default btn-block" onclick="$.addBuy(this);">立即兑换</button></div>
    </div>
    <!--底部兑换菜单栏结束-->
</block>

<block name="script">
    {:W('Wechat/JsSign')}
    <script src="__RES__/wap/js/shop.js" type="text/javascript"></script>
    <script src="__RES__/wap/js/touchslider.js" type="text/javascript"></script>
    <script type="text/javascript">
            var sliderLink, slider;
            sliderLink = $('#pagenavi a').on('click', function () {
                var index = $(this).index();
                slider.slide(index);
            });
            slider = new TouchSlider({
                id: 'slider1',
                auto: '0',
                fx: 'ease-out',
                direction: 'left',
                speed: 600,
                timeout: 5000,
                before: function (index) {
                    sliderLink.removeClass('active').eq(index).addClass('active');
                }
            });
    </script>
    <script type="text/javascript">


        //控制页面效果
        $(function () {

            //控制属性动画
            $(".jk_speci span").click(function () {
                $(this).addClass("active").siblings().removeClass("active");
            });
        });

        //控制数据效果
        $(function () {
            $.extend({
                /**
                 * 显示属性，价格与库存
                 * */
                showParam: function () {
                    var param = jQuery.parseJSON('{$vo.params}');
                    var credit_str = getData()['param'] + '_split_credit';
                    var store_str = getData()['param'] + '_split_store';
                    window.form_data = getData();
                    //控制价格
                    if (param[credit_str]) {
                        $("#sell_credit").html(param[credit_str]);
                    }
                    //控制库存
                    if (param[store_str]) {
                        $('#store_nums').html(param[store_str]);
                    }
                },
                addBuy: function () {
                    var protdata = getData();
                    window.doing = true;
                    $.msg.loading();
                    window.location.href = "{:U('Shop/Credit/check',array('type'=>_type_,'param'=>_param_,'credit'=>_credit_,'num'=>_num_,'cid'=>_cid_))}".replace('_type_', "buy").replace('_param_', protdata.param).replace('_credit_', protdata.credit).replace('_num_', protdata.num).replace('_cid_', protdata.cid);
                }
            });

            //初始化
            $.showParam();
            //绑定点击事件
            $(".jk_speci span").on("click", $.showParam);

        });

        //定义函数
        function getData() {
            var select = [];
            $('.jk_speci').map(function () {
                if (!$(this).find('span.active').size())
                    $(this).find('span:first').addClass('active');
                var html = $(this).find('span.active').html();
                //alert(html);
                if (html) {
                    select.push(html);
                }
            });

            return {
                param: select.join('_split_'),
                credit: $('#sell_credit').html(),
                num: $('input[name=num]').val(),
                cid: '{$vo.id}'
            };
        }
    </script>

</block>