<extend name='Admin@Public:form' />

<block name='form'>

    <div class="well">
        <h4>基础信息</h4>
        <div class="form-group">
            <label class="col-sm-2 control-label tr">应用名称 <b class="required">*</b></label>
            <div class="col-sm-9">
                <input autofocus required="" value="{$vo.name}" pattern=".{2,}$" title="应用名称至少2个字符" type="text" name="name" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label tr">主机地址</label>
            <div class="col-sm-9">
                <input autofocus value="{$vo.host}" type="text" name="host" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">应用状态</label>
            <div class="col-sm-9">
                <div class='form-control'>
                    <label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
                    <label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="remark">{$vo.remark}</textarea>
            </div>
        </div>

    </div>

    <div class="well">
        <h4>七牛云存储</h4>
        <div class="form-group">
            <label class="col-sm-2 control-label tr">AccessKey</label>
            <div class="col-sm-9">
                <input autofocus value="{$vo.qiniu_accesskey}" type="text" name="qiniu_accesskey" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label tr">SecretKey</label>
            <div class="col-sm-9">
                <input autofocus value="{$vo.qiniu_secretkey}" type="text" name="qiniu_secretkey" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label tr">Domain</label>
            <div class="col-sm-9">
                <input autofocus value="{$vo.qiniu_domain}" type="text" name="qiniu_domain" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label tr">Bucket</label>
            <div class="col-sm-9">
                <input autofocus value="{$vo.qiniu_bucket}" type="text" name="qiniu_bucket" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">文件重命名</label>
            <div class="col-sm-9">
                <div class='form-control'>
                    <label><input <neq name='vo.qiniu_rename' value='0'>checked</neq> type="radio" name="qiniu_rename" value="1" /> 启用</label>
                    <label><input <eq name='vo.qiniu_rename' value='0'>checked</eq> type="radio" name="qiniu_rename" value="0" /> 禁用</label>
                </div>
                <p class="help-block">如果还没有帐号，请点击<a target="_blank" href="https://portal.qiniu.com/signup?code=3lhz6nmnwbple">免费申请10G存储空间</a>，申请成功后添加Bucket，并设置为公开空间！</p>
            </div>
        </div>
    </div>



    <notempty name="vo">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>

</block>