<extend name='Admin@Public:form' />

<block name='form'>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">菜单名称 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input autofocus required="" value="{$vo.name}" pattern="^.{2,}$" title="菜单至少2个字符！" type="text" name="name" class="form-control" id="menu_title" placeholder="输入菜单名称">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">菜单类型</label>
        <div class="col-sm-9">
            <div id="menu-type" class='form-control'>
                <empty name='vo.pid'>
                    <label><input <notin name='vo.type' value='link,keys,text'>checked</notin> type="radio" name="type" value="null" /> 主菜单</label> 
                </empty>
                <label><input <eq name='vo.type' value='link'>checked</eq> type="radio" name="type" value="link" /> 链接</label> 
                <label><input <eq name='vo.type' value='text'>checked</eq> type="radio" name="type" value="text" /> 文本</label>
<!--                <label><input <eq name='vo.type' value='image'>checked</eq> type="radio" name="type" value="image" /> 图片</label> -->
                <label><input <eq name='vo.type' value='keys'>checked</eq> type="radio" name="type" value="keys" /> 关键字</label>
                <label><input <eq name='vo.type' value='scan'>checked</eq> type="radio" name="type" value="scan" /> 扫码</label>
                <label><input <eq name='vo.type' value='pic'>checked</eq> type="radio" name="type" value="pic" /> 发图</label>
                <label><input <eq name='vo.type' value='location'>checked</eq> type="radio" name="type" value="location" /> 发送位置</label>
            </div>
        </div>
    </div>
    <div style="display:none" class="form-group type-model type-model-text">
        <label class="col-sm-2 control-label tr">文本内容 <b class="required">*</b></label>
        <div class="col-sm-9">
            <textarea value="{$vo.content}" type="text" name="content" class="form-control">{$vo.content}</textarea>
        </div>
    </div>
    <div style="display:none" class="form-group type-model type-model-image">
        <label class="col-sm-2 control-label tr">回复图片 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input type='hidden' name="link" value="{$vo.link}" />
            <img data-name="link" alt="" class="upload-thumbnail thumbnail upload_one_img" src="{$vo.link}"/>
        </div>
    </div>    
    <div style="display:none" class="form-group type-model type-model-link">
        <label class="col-sm-2 control-label tr">链接地址 <b class="required">*</b></label>
        <div class="col-sm-9">
            <textarea value="{$vo.url}" type="text" name="url" class="form-control">{$vo.url}</textarea>
        </div>
    </div>	
    <div style="display:none" class="form-group type-model type-model-keys">
        <label class="col-sm-2 control-label tr">关键字 <b class="required">*</b></label>
        <div class="col-sm-9">
            <textarea value="{$vo.keys}" type="text" name="keys" class="form-control">{$vo.keys}</textarea>
        </div>
    </div>
    <div style="display:none" class="form-group type-model type-model-scan">
        <label class="col-sm-2 control-label tr">扫码 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name="scan" class="form-control">
                <option <eq name="vo.scan" value="scancode_waitmsg">selected</eq> value="scancode_waitmsg">扫码带提示</option>
                <option <eq name="vo.scan" value="scancode_push">selected</eq> value="scancode_push">扫码推事件</option>
            </select>
        </div>
    </div>
    <div style="display:none" class="form-group type-model type-model-pic">
        <label class="col-sm-2 control-label tr">发图<b class="required">*</b></label>
        <div class="col-sm-9">
            <select name="pic" class="form-control">
                <option <eq name="vo.pic" value="pic_sysphoto">selected</eq> value="pic_sysphoto">系统拍照发图</option>
                <option <eq name="vo.pic" value="pic_photo_or_album">selected</eq> value="pic_photo_or_album">拍照或者相册发图</option>
                <option <eq name="vo.pic" value="pic_weixin">selected</eq> value="pic_weixin">微信相册发图</option>
            </select>
        </div>
    </div>
    <div style="display:none" class="form-group type-model type-model-location">
        <label class="col-sm-2 control-label tr">发送位置<b class="required">*</b></label>
        <div class="col-sm-9">
            <select name="location" class="form-control">
                <option <eq name="vo.location" value="location_select">selected</eq> value="location_select">发送位置</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="menu_sort" class="col-sm-2 control-label">排序 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input type="number" min="0" value="{$vo.sort|default=0}" required="" name="sort" class="form-control" id="menu_sort" placeholder="请输入链接地址">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">分类状态</label>
        <div class="col-sm-9">
            <div class='form-control'>
                <label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
                <label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
            </div>
        </div>
    </div>
    <notempty name="vo.id">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>
    <notempty name='vo.pid'>
        <input type='hidden' value='{$vo.pid|default=0}' name='pid' />
    </notempty>
</block>

<block name='script'>
    <script>
        $(function () {
            function syncTypeModel() {
                var typeRadio = $('#menu-type input:radio:checked');
                if (typeRadio.size() < 1) {
                    typeRadio = $('#menu-type input:radio:first').attr('checked', 'checked');
                }
                $('.type-model').slideUp(100).filter('.type-model-' + typeRadio.val()).slideDown(200);
            }
            $('#menu-type input:radio').click(syncTypeModel);
            syncTypeModel();
        });
    </script>
</block>