<extend name='Admin@Public:index' />

<block name="content">
    <wx:table 
        list='list'
        order="true"
        check='false'
        color="status|show_color"
        class='table table-striped table-bordered table-hover table-center' 
        show='title:菜单名称:align_left,info:类型,status|show_status_text:状态' 
        action="id|show_menu_button" />

</block>

<block name='ptitle'>
    {$ptitle}
    <span class='pull-right'>
        <if condition="auth('Wechat/Menu/add')">
            <php>
                $pcount=0;
                foreach($list as $vo) 
                empty($vo['pid']) && $pcount++;
            </php>
            <button <gt name='pcount' value='2'> title="最多添加三个主菜单" disabled<else/>data-modal="{:U('Wechat/Menu/add')}"</gt> class="btn btn-success btn-sm ml5">添加主菜单</button>
        </if>
        <if condition="auth('Wechat/Menu/cancel')">
            <button data-modal='{:U("Wechat/Menu/cancel")}' data-tip='正在发送数据到微信服务器，请稍候...'  class="btn btn-warning btn-sm ml5">取消菜单</button>
        </if>
        <if condition="auth('Wechat/Menu/sync')">
            <button data-modal='{:U("Wechat/Menu/sync")}' data-tip="正在发送取消菜单指令到微信服务器，请稍候..." class="btn btn-success btn-sm ml5">推送菜单</button>
        </if>
    </span>
</block>
