<extend name='Admin@Public:index' />

<block name='content'>
    <div class="col-xs-8 col-md-9">
        <div class="active">
            <h4><i class="fa fa-comments"></i>聊天记录</h4>
        </div>
        <div class="h400 p15" style="border: 2px solid #eee;overflow-y: auto;">


            <volist name="list" id="vo">
                <div class="media">
                    <eq name="vo.name" value="系统回复">

                    <div class="media-body">
                        <p class="media-heading"><span class="col-xs-offset-4 f12">{$vo.receivedtime|friendly_date}</span></p>
                        <p class="media-body tr">{$vo.content}</p>
                    </div>

                    <else />

                    <div class="media-left">
                        <img class="media-object img-circle" style="height:30px" src="{$user.headimgurl}" alt/>
                    </div>
                    <div class="media-body">
                        <p class="media-heading">{$vo.name} <span class="col-xs-offset-4 f12">{$vo.receivedtime|friendly_date}</span></p>
                        <p class="media-body">{$vo.content}</p>
                    </div>

                    </eq>
                </div>
            </volist>

        </div>
        <br />
        <form onsubmit="return false" action="__SELF__" data-ajax="true" method="post">
            <if condition="auth('Wechat/Msg/edit')">
                <textarea name="reply" required="" title="请输入回复内容" class='form-control' style="height:80px">{$vo.reply}</textarea>                        
                <div class="tc p20">
                    <input type="hidden" value="{$user.openid}" name="ToUser" />
                    <button class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i> 回复</button>
                </div>
            </if>
        </form>
    </div>
    <div class="col-xs-4 col-md-3">
        <h4><i class="fa fa-quote-left"></i>用户资料<i class="fa fa-quote-right"></i></h4>
        <div class="f16">
            <img src="{$user.headimgurl}"  class="img-circle h100" /><br />
            <address class="p15">
                <strong>用户名：{$user.nickname}</strong><br>
                性　别：{$user.sex}<br>
                所在地：{$user.province}省 {$user.city}<br>
            </address>
        </div>
    </div>
</block>
