<extend name='Admin@Public:index' />

<block name='ptitle'>
    {$ptitle}	
    <span class='pull-right'>
        <if condition='auth("Wechat/Msg/del")'>
            <button data-del data-path='Wechat/Msg/del' class="btn btn-warning btn-sm mr5">删除</button>
        </if>
    </span>
</block>

<block name='content'>
    <style>
        td {max-width: 200px;}
    </style>
    <wx:table 
        list='list'
        color="status|show_color"
        class='table table-striped table-responsive table-bordered table-center' 
        show='msgtype:消息类型,content:消息内容:align_left,fromusername:用户,receivedtime:操作时间'
        action="id|show_href_button:回复消息#Wechat/Msg/edit" />
</block>

