<extend name='Admin@Public:index' />


<block name='ptitle'>
    {$ptitle}	
    <span class='pull-right'>
        <if condition='auth("Wechat/News/index")'>
            <button class="btn btn-success btn-sm mr5" data-href="{:U('Wechat/News/index',array('type'=>'news'))}"><i class='glyphicon glyphicon-list-alt'></i> 图文管理</button>
        </if>
        <if condition='auth("Wechat/News/index")'>
            <button class="btn btn-success btn-sm mr5" data-href="{:U('Wechat/News/index',array('type'=>'image'))}"><i class='glyphicon glyphicon-picture'></i> 图库管理</button>
        </if>
        <if condition='auth("Wechat/News/upload")'>
            <input type="hidden" name="newsimage" class="news-upload-image" />
            <button class="btn btn-success btn-sm mr5" data-online="true" data-upload-multi-img data-name="newsimage"><i class="glyphicon glyphicon-cloud-upload"></i> 上传图片素材</button>
        </if>
        <if condition='auth("Wechat/News/add")'>
            <button class="btn btn-success btn-sm mr5 news-add"><i class="glyphicon glyphicon-plus-sign"></i> 添加图文</button>
        </if>
        <if condition='auth("Wechat/News/sync")'>
            <button  data-tips="正在同步远程素材信息，请稍后..."  data-progress='{:U("Wechat/News/sync")}' class="btn btn-warning btn-sm mr5"><i class="glyphicon glyphicon-refresh"></i> 同步远程素材</button>
        </if>
    </span>
</block>

<block name='content'>
    <div class='hide news-data-container'>
        <volist name='list' id='vo'>
            <textarea class="news-form-data news-form-data-{$vo.id} hide">{:json_encode($vo,JSON_UNESCAPED_UNICODE)}</textarea>
        </volist>
    </div>
    <div class='p20 news-container' style='min-height:1100px'>
        <div style='clear:both'></div>
    </div>
</block>

<block name="script">
    <script src="__LIB__/template/template.js" type="text/javascript"></script>
    <script src="__LIB__/jquery/masonry.pkgd.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            function _editor() {

                this.version = '1.0';
                this.author = 'zoujingli';
                this.itemSelecter = '.news-item-content,.news-item-title';
                this.itemEditSelecter = '.news-item-content .news-item-edit,.news-item-title .news-item-edit';
                this.itemDelSelecter = '.news-item-content .news-item-del,.news-item-title .news-item-del';
                this.itemAddSelecter = '.news-item-content .news-item-add,.news-item-title .news-item-add';
                this.newsDelSelecter = '.news-item-title .news-del';
                this.newsSendSelecter = '.news-item-title .news-send';
                this.newsAddSelecter = '.news-add';
                this.newsImageAddSelecter = '.news-upload-image';
                this.saveItemFormSelecter = '.news-editor-submit';
                this.cancelItemFormSelecter = '.news-editor-cancel';
                this.showMediaSelecter = '.news-select-media-image';
                this.currentItemsData = {};
                this.currentItemElement;
                this.currentItemIndex = 0;
                this._tips_index;
                this._ueditor_ids = [];
                this.$form;
                /*! 通过 media_id 生成图片 URL */
                this.get_media_url = function (media_id) {
                    return '{:U("Wechat/News/index",array("action"=>"showWechatImage","media_id"=>"_media_id_"))}'.replace('_media_id_', media_id || 'none');
                };
                /*! 页面数据初始化显示 */
                this.initShowPage();
                this.eventHandler();

            }

            /**
             * 事件监听处理函数
             * @returns {undefined}
             */
            _editor.prototype.eventHandler = function () {
                var self = this;
                /* 显示操作工具条 */
                this.showOptionTools();

                /*<if condition='auth("Wechat/News/edit")'> 编辑权限 */
                $('body').off('click', this.itemEditSelecter).on('click', this.itemEditSelecter, function () {
                    self.initVars(this), self.showEditor();
                }).off('click', this.itemDelSelecter).on('click', this.itemDelSelecter, function () {
                    self.initVars(this);
                    window.confirm('确定要删除素材吗？') && self.setItemData(self.currentItemIndex, null) && self.saveData('删除素材成功');
                }).off('click', this.itemAddSelecter).on('click', this.itemAddSelecter, function () {
                    self.initVars(this);
                    self.setItemData(null, {thumb_media_id: 'none'});
                }).off('click', this.saveItemFormSelecter).on('click', this.saveItemFormSelecter, function () {
                    var $form = $(this).parents('form._editor_form');
                    var _data_arr = $form.serializeArray();
                    var data = {};
                    for (var i in _data_arr) {
                        data[_data_arr[i].name] = _data_arr[i].value;
                    }
                    data.show_cover_pic = data.show_cover_pic ? 1 : 0;
                    $form.find('.error').remove();
                    if (!data.title) {
                        return $form.find('[name="title"]').focus().after('<span class="error">请输入标题</span>');
                    }
                    if (!data.thumb_media_id || data.thumb_media_id === 'none') {
                        return $form.find('[name="thumb_media_id"]').focus().after('<span class="error">请选择图片</span>');
                    }
                    if (!data.content) {
                        return $form.find('[name="content"]').focus().after('<span class="error">请输入正文内容</span>');
                    }
                    self.setItemData(self.currentItemIndex, data) && self.saveData();
                }).off('click', this.showMediaSelecter).on('click', this.showMediaSelecter, function () {
                    self.showMedia('image', this);
                });
                /*</if>*/

                /*  <if condition='auth("Wechat/News/upload")'> 上传权限 */
                $('body').off('change', this.newsImageAddSelecter).on('change', this.newsImageAddSelecter, function () {
                    self.uploadNewsImage(this.value);
                });
                /*</if>*/


                /*<if condition='auth("Wechat/News/send")'> 推送权限 */
                $('.news-container').off('click').off('click', this.newsSendSelecter).on('click', this.newsSendSelecter, function () {
                    self.initVars(this);
                    self.sendNews();
                });
                /*</if>*/

                /*<if condition='auth("Wechat/News/del")'>  删除权限 */
                $('.news-container').off('click', this.newsDelSelecter).on('click', this.newsDelSelecter, function () {
                    self.initVars(this);
                    window.confirm('确定要彻底删除素材吗？') && self.delData();
                });
                /*</if>*/

                /*<if condition='auth("Wechat/News/add")'>  添加权限 */
                $('body').off('click', this.newsAddSelecter).on('click', this.newsAddSelecter, function () {
                    if ($('[data-target="news-form-data-0"]').size() > 0) {
                        $.msg.error('上一个添加的图文还未编辑保存');
                    } else {
                        var defaule_data = {type: "news", content: {news_item: []}, id: "0"};
                        $('.news-data-container').prepend('<textarea class="news-form-data news-form-data-0 hide">' + JSON.stringify(defaule_data) + '</textarea>');
                        $('.news-container').prepend(self.createForm(defaule_data));
                        self.resetPage();
                    }
                });
                /*</if>*/
            };
            /**
             * 素材操作工具条切换
             * @returns {undefined}
             */
            _editor.prototype.showOptionTools = function () {
                $(this.itemSelecter).unbind('mouseenter mouseleave').hover(function () {
                    var tips = '';
                    var index = $(this).index();
                    var size = $(this).siblings().filter('li').size();
                    var type = $(this).parents('form').attr('data-type') || 'news';
                    tips = '<div class="news-option-container">';
                    if (index < 1) {
                        tips += '<p class="news-option-top">';
                        /*<if condition='auth("Wechat/News/send")'> 推送权限*/
                        var id = $(this).parents('form').attr('data-id');
                        if (type === 'news' && id > 0) {
                            tips += '<a class="news-send"><i class="glyphicon glyphicon-random"></i></a>';
                        }
                        /*</if>*/
                        /*<if condition='auth("Wechat/News/del")'> 删除权限*/
                        tips += '<a class="news-del"><i class="glyphicon glyphicon-remove"></i></a>';
                        /*</if>*/
                        tips += '</p>';
                    }
                    /*<if condition='auth("Wechat/News/edit")'> 编辑权限*/
                    if (type === 'news') {
                        tips += '<p class="news-option-bottom">'
                                + '<a title="编辑" class="news-item-edit fl"><i class="glyphicon glyphicon-pencil"></i></a>'
                                + (index === size && index < 8 ? '<a title="添加" class="news-item-add"><i class="glyphicon glyphicon-plus"></i></a>' : '')
                                + '<a title="删除" class="news-item-del fr"><i class="glyphicon glyphicon-remove"></i></a>'
                                + '</p>';
                    }
                    /*</if>*/
                    tips += '</div>';
                    $(this).prepend(tips);
                }, function () {
                    $(this).find('.news-option-container').remove();
                });
            };
            /**
             * 推送图文
             * @returns {unresolved}
             */
            _editor.prototype.sendNews = function () {
                var id = this.$form.attr('data-id');
                if (!id) {
                    return $.msg.error('此图文暂时不能被推送');
                }
                var self = this;
                function submit(url, data, callback) {
                    $.post(url, data, function (data) {
                        callback(data);
                    }, 'json');
                }

                $.msg.loading();
                $.get("{:U('Wechat/News/index',array('action'=>'getMemberList'))}", function (memberData) {
                    for (var i in memberData) {
                        memberData[i].url = self.get_media_url(memberData[i].media_id);
                    }
                    $.get("{:U('Wechat/News/index',array('action'=>'getMemberGroupList'))}", function (groupData) {
                        var $modal = $(template('_new_member_list_tpl', {member: memberData, group: groupData})).on('shown.bs.modal', function () {
                            $.msg.close();
                            $('body').off('click', '[data-event-send-form]').on('click', '[data-event-send-form]', function () {
                                var _send_data = $(this).parents('form.news-send-form').serializeArray();
                                var send_data = {group: [], member: [], id: id};
                                for (var i in _send_data) {
                                    if (_send_data[i].name === 'mode') {
                                        send_data['mode'] = _send_data[i].value;
                                    } else {
                                        send_data[_send_data[i].name].push(_send_data[i].value);
                                    }
                                }
                                if (send_data.member.length < 1 && send_data.group.length < 1 && send_data.mode !== 'All') {
                                    return $.msg.error('请选择需要推送的微信会员');
                                }
                                $.msg.loading();
                                submit("{:U('Wechat/News/send')}", send_data, function (res) {
                                    if (res.status) {
                                        $($modal).modal('hide');
                                        $.msg.success(res.info);
                                    } else {
                                        $.msg.error(res.info);
                                    }
                                });
                            });
                        }).modal('show').on('hide.bs.modal', function () {
                            $($modal).remove();
                        });
                    }, 'json');
                }, 'json');
                return;
            };
            /**
             * 上传图文素材
             * @returns {undefined}
             */
            _editor.prototype.uploadNewsImage = function (url) {
                $.msg.loading();
                $.post('{:U("Wechat/News/upload")}', {url: url}, function (data) {
                    if (data.status) {
                        $.msg.success(data.info);
                    } else {
                        $.msg.error(data.info);
                    }
                }, 'json');
            };
            /**
             * 初始化显示页面
             * @returns {undefined}
             */
            _editor.prototype.initShowPage = function () {
                /*! 页面数据初始化显示 */
                var self = this;
                $('.news-container').empty();
                $('.news-form-data').map(function () {
                    $('.news-container').prepend(self.createForm(this.innerHTML || ''));
                });
                this.resetPage();
            };
            /**
             * 重置页面布局
             * @returns {undefined}
             */
            _editor.prototype.resetPage = function () {
                var self = this;
                var container = $('.news-container')[0];
                var msnry = new Masonry(container, {
                    columnWidth: 340
                });
                msnry.on('layoutComplete', function () {
                    self.eventHandler();
                });
                self.eventHandler();
            };

            /**
             * 初始化编辑器变量值
             * @param {type} element
             * @returns {undefined}
             */
            _editor.prototype.initVars = function (element) {
                this.$form = $(element).parents('form');
                this.currentItemElement = $(element).parents('li.list-group-item')[0];
                this.currentItemIndex = this.currentItemElement.getAttribute('data-index');
            };
            /**
             * 获取指定的素材数据
             * @param {type} index
             * @returns {_data}
             */
            _editor.prototype.getItemData = function (index) {
                var content = $('.' + this.$form.attr('data-target')).html();
                try {
                    this.currentNewsData = content ? JSON.parse(content) : {};
                    return this.currentNewsData.content.news_item[index] || null;
                } catch (e) {
                    alert(e);
                }
                return null;
            };
            /**
             * 设置指定素材数据
             * @param {type} index
             * @param {type} data
             * @returns {Boolean}
             */
            _editor.prototype.setItemData = function (index, data) {
                try {
                    this.getItemData();
                    if (data === null && index !== null && !!this.currentNewsData.content.news_item) {
                        var _data = [];
                        for (var i in this.currentNewsData.content.news_item) {
                            if (i !== index) {
                                _data.push(this.currentNewsData.content.news_item[i]);
                            }
                        }
                        this.currentNewsData.content.news_item = _data;
                    } else if (data !== null) {
                        if (index !== null) {
                            this.currentNewsData.content.news_item[index] = data;
                        } else {
                            this.currentNewsData.content.news_item.push(data);
                        }
                    }
                    this.$form.find('.news-content').val(JSON.stringify(this.currentNewsData.content));
                    $('.' + this.$form.attr('data-target')).html(JSON.stringify(this.currentNewsData));
                    this.$form.html($(this.createForm(this.currentNewsData)).html());
                    this.resetPage();
                } catch (e) {
                    alert(e);
                    return false;
                }
                return true;
            };
            /**
             * 删除素材数据
             * @returns {undefined}
             */
            _editor.prototype.delData = function () {
                var self = this;
                var id = self.$form.attr('data-id');
                if (parseInt(id) > 0) {
                    $.msg.loading();
                    $.post('{:U("Wechat/News/del")}', {id: id}, function (res) {
                        if (res.status) {
                            $.msg.success(res.info);
                            $('.' + self.$form.attr('data-target')).add(self.$form).remove();
                            self.resetPage();
                        } else {
                            $.msg.error(res.info);
                        }
                    }, 'JSON');
                } else {
                    $('.' + self.$form.attr('data-target')).add(self.$form).remove();
                    this.resetPage();
                }
            };
            /**
             * 保存素材数据
             * @returns {undefined}
             */
            _editor.prototype.saveData = function (successMsg, errorMsg) {
                var self = this;
                var data = this.$form.serialize();
                $.msg.loading();
                $.post("{:U('Wechat/News/edit')}", data, function (data) {
                    if (data.status) {
                        var new_data = data.data;
                        new_data.content = JSON.parse(new_data.content);
                        $('.' + self.$form.attr('data-target')).html(JSON.stringify(new_data));
                        self.setItemData(null, null);
                        if (self.$form.attr('data-id') === 0) {
                            self.$form.attr('data-target', 'news-form-data-' + new_data.id)
                                    .attr('data-id', new_data.id);
                            $('.news-form-data-0').removeClass('news-form-data-0').addClass('news-form-data-' + new_data.id);
                        }
                        $.msg.success(successMsg || data.info, 2);
                    } else {
                        $.msg.errro(errorMsg || data.info);
                    }
                }, "JSON");
            };
            /**
             * 创建图文HTML内容
             * @param {type} json_data
             * @returns {unresolved}
             */
            _editor.prototype.createForm = function (json_data) {
                try {
                    var data = typeof json_data === 'string' ? JSON.parse(json_data) : json_data;
                } catch (e) {
                    return console.dir(e);
                }

                /**
                 * 以时间戳生成日期时间
                 * @param {type} time
                 * @returns {String}
                 */
                function get_time_str(time) {
                    var date = new Date();
                    if (!!parseInt(time)) {
                        date.setTime("" + time + '000');
                    }
                    return date.getFullYear() + '年'
                            + (date.getMonth() + 1) + '月'
                            + date.getDate() + '日 '
                            + date.getHours() + ':'
                            + date.getMinutes() + ":"
                            + date.getSeconds();
                }
                data.update_time_str = get_time_str(data.update_time || data.local_upate_time || false);
                if (data.type === 'image') {
                    data.thumb_media_url = this.get_media_url(data.media_id);
                    return template('_news_image_tpl', data);
                } else if (data.type === 'news') {
                    try {
                        data.count = data.content.news_item.length;
                        if (data.count < 1)
                            throw new Error('null item');
                    } catch (e) {
                        data = data || {};
                        data.content = data.conent || {};
                        data.content.news_item = new Array();
                        data.content.news_item.push({thumb_media_id: "none"});
                        data.count = data.content.news_item.length;
                    }
                    data.json_content = JSON.stringify(data.content);
                    for (var i in data.content.news_item) {
                        var _item = data.content.news_item[i];
                        _item.thumb_media_url = this.get_media_url(_item.thumb_media_id);
                    }
                    return template('_news_item_tpl', data);
                }
            };
            /**
             * 显示媒体列表
             * @returns {undefined}
             */
            _editor.prototype.showMedia = function (type, element) {
                var self = this;
                $.msg.loading();
                $.get("{:U('Wechat/News/index',array('action'=>'getImageList'))}", function (data) {
                    for (var i in data) {
                        data[i].url = self.get_media_url(data[i].media_id);
                    }
                    var $modal = $(template('_new_media_image_tpl', {list: data})).on('shown.bs.modal', function () {
                        $.msg.close();
                        $('body').off('click', '.news-media-image').on('click', '.news-media-image', function () {
                            var $form = $(element).parents('form._editor_form');
                            $form.find('input[name="thumb_media_id"]').val(this.alt);
                            $form.find('img[data-name="thumb_media_id"]').attr('src', self.get_media_url(this.alt));
                            $modal.modal('hide');
                        });
                    }).modal('show').on('hide.bs.modal', function () {
                        $($modal).remove();
                    });
                }, 'json');
            };
            /**
             * 显示编辑框
             * @returns {undefined}
             */
            _editor.prototype.showEditor = function () {
                var self = this;
                /* 初始化 */
                if (self._popover_element === this.currentItemElement) {
                    return;
                }

                for (var i in self._ueditor_ids) {
                    try {
                        UE.getEditor(self._ueditor_ids[i]).destroy();
                    } catch (e) {
                        console.dir(e);
                    }
                }

                var hidecall = function () {
                    $(self._popover_element).popover('destroy');
                };
                $('body').off('click', this.cancelItemFormSelecter).on('click', this.cancelItemFormSelecter, hidecall);
                hidecall.call();
                self._popover_element = self.currentItemElement;
                var placement = $(self.currentItemElement).offset().left + 850 > $(window).width() ? 'left' : 'right';
                $(self.currentItemElement).popover({
                    placement: placement,
                    viewport: '.news-container',
                    trigger: 'manual',
                    content: self._getEditorTpl(),
                    title: false,
                    html: true,
                    template: '<div style="width:500px;max-width:500px;" class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                }).on('shown.bs.popover', function () {
                    self._ueditor_ids = [];
                    $('.news-editor').map(function () {
                        this.id = '_editor_' + Math.ceil(Math.random() * 100000000000);
                        self._ueditor_ids.push(this.id);
                        UE.getEditor(this.id, {lang: 'zh-cn', autoHeightEnabled: false, toolbars: [
                                ["source", "fontfamily", "fontsize", "blockquote", "horizontal", "removeformat", "link", "unlink", "insertvideo2", "emotion", "insertimage", "insertvote", "insertcard"],
                                ["bold", "italic", "underline", "forecolor", "backcolor", "justifyleft", "justifycenter", "justifyright", "insertorderedlist", "insertunorderedlist"]
                            ]});
                    });
                }).on('hidden.bs.popover', function () {
                    self._popover_element = null;
                }).popover('show');
            };
            /**
             * 获取编辑框模板
             * @returns {unresolved}
             */
            _editor.prototype._getEditorTpl = function () {
                var default_data = {update_time_str: '', title: '', author: '', digest: '', content: '', content_source_url: '', thumb_media_id: '', thumb_media_url: '', show_cover_pic: 1};
                var data = this.getItemData(this.currentItemIndex) || default_data;
                data.show_cover_pic = data.show_cover_pic ? 'checked' : '';
                data.thumb_media_url = this.get_media_url(data.thumb_media_id);
                for (var i in default_data) {
                    data[i] = data[i] || default_data[i];
                }
                return template('_editor_tpl', data);
            };
            new _editor();
        });
    </script>

    <!-- 图文编辑器模板 -->
    <script id="_editor_tpl" type="text/html">
        <form onsubmit="return false" style="width:500px" data-validate-none class='_editor_form'>
            <div class="form-group" style="width:470px">
                <button type="button" class="close news-editor-cancel" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <label>标题</label>
                <input type="text" name="title" value="{{title}}" class="form-control">
            </div>
            <div class="form-group" style="width:470px">
                <label>作者（选填）</label>
                <input type="text" name="author" value="{{author}}" class="form-control">
            </div>
            <div class="form-group" style="width:470px">
                <label>封面（大图片建议尺寸：900像素 * 500像素）<a href='javascript:void(0)' class="news-select-media-image">选择图片</a></label>
                <input type="hidden" name="thumb_media_id" value="{{thumb_media_id}}" class="form-control">
                <div>
                    <img class='thumbnail loading-background' data-name="thumb_media_id" style="max-width: 450px;height:100px;min-width:100px" src="{{thumb_media_url}}" alt />
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input name="show_cover_pic" value="1" {{show_cover_pic}} type="checkbox"> 封面图片显示在正文中
                </label>
            </div>
            <div class="form-group" style="width:470px">
                <label>摘要（选填）</label>
                <textarea name="digest" class="form-control">{{digest}}</textarea>
            </div>
            <div class="form-group" style="width:470px;height:250px;">
                <label>正文</label>
                <textarea style='height:200px;' name="content" class="news-editor">{{content}}</textarea>
            </div>
            <div class="form-group" style="width:470px;margin-top:50px">
                <label>原文链接（选填）</label>
                <input type="text" name="content_source_url" value="{{content_source_url}}" class="form-control">
            </div>
            <div class="form-group tc "  style="width:470px">
                <a class="btn btn-warning news-editor-cancel ml15">取消</a>
                <a class="btn btn-success news-editor-submit mr15">确定</a>
            </div>
        </form>
    </script>

    <!-- 图文显示模板 -->
    <script type="text/html" id="_news_item_tpl">
        <form onsubmit="return false" data-validate-none data-target="news-form-data-{{id}}" data-type="{{type}}" data-id="{{id}}" class='fl mr20'>
            <input type="hidden" name='id' value="{{id}}" />
            <input type="hidden" name='type' value="{{type}}" />
            <input type="hidden" name='media_id' value="{{media_id}}" />
            <input type="hidden" name='update_time' value="{{update_time}}" />
            <input type="hidden" name='local_update_time' value="{{local_update_time}}" />
            <textarea name="content" class="news-content news-content-{{id}} hide">{{json_content}}</textarea>
            <ul class="list-group news-item-container">
                {{each content.news_item as item key}}
                {{if count < 2}}
                <li class="list-group-item news-item-title" data-index="{{key}}">
                    <p>{{item.title}}</p>
                    <p>{{update_time_str}}</p>
                    <div><img class='loading-background' src='{{item.thumb_media_url}}' alt/></div>
                    <p>{{item.digest}}</p>
                </li>
                {{else}}
                {{if key < 1}}
                <li class="list-group-item news-item-title" data-index="{{key}}">
                    <p>{{update_time_str}}</p>
                    <div><img class='loading-background' src='{{item.thumb_media_url}}' alt/></div>
                    <p class="title">{{item.title}}</p>
                </li>
                {{else}}
                <li class="list-group-item news-item-content" data-index="{{key}}">
                    <p>{{item.title}}</p>
                    <img class='loading-background' src='{{item.thumb_media_url}}' alt/>
                </li>
                {{/if}}
                {{/if}}
                {{/each}}
            </ul>
            <div style='clear:both'></div>
        </form>
    </script>

    <!-- 图片显示模板 -->
    <script type="text/html" id="_news_image_tpl">
        <form onsubmit="return false" data-validate-none data-target="news-form-data-{{id}}" data-type="{{type}}" data-id="{{id}}" class='fl mr20' style='overflow: hidden;'>
            <input type="hidden" name='id' value="{{id}}" />
            <input type="hidden" name='type' value="{{type}}" />
            <input type="hidden" name='media_id' value="{{media_id}}" />
            <input type="hidden" name='update_time' value="{{update_time}}" />
            <input type="hidden" name='local_update_time' value="{{local_update_time}}" />
            <textarea name="content" class="news-content news-content-{{id}} hide">{{json_content}}</textarea>
            <ul class="list-group news-item-container">
                <li class="list-group-item news-item-title" data-index="{{key}}">
                    <p>{{name}}</p>
                    <p>{{update_time_str}}</p>
                    <div><img class='loading-background' src='{{thumb_media_url}}' alt/></div>
                </li>
            </ul>
            <div style='clear:both'></div>
        </form>
    </script>

    <!-- 在线选择接收预览消息的会员 -->
    <script type="text/html" id="_new_member_list_tpl">
        <div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">推送群消息</h4>
                    </div>

                    <div class="modal-body">
                        <form onsubmit="return false" data-validate-none class="form-inline news-send-form">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">指定推送模式</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        <label>
                                            <input name='mode' value='All' type="radio"> 全部会员
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name='mode' value='Mass' type="radio"> 批量推送(订阅号不可用)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name='mode' value='Group' type="radio"> 分组推送
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name='mode' checked value='Preview' type="radio"> 预览推送
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">指定分组推送消息</h3>
                                </div>
                                <div class="panel-body">
                                    {{each group as vo index}}
                                    <div class="checkbox">
                                        <label>
                                            <input name='group' value='{{vo.id}}' type="checkbox"> {{vo.name}}({{vo.count}}) 
                                        </label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">指定会员推送消息</h3>
                                </div>
                                <div class="panel-body" style='max-height:300px;overflow: auto'>
                                    {{each member as vo index}}
                                    <div class="checkbox col-xs-2" style='white-space:nowrap;overflow:hidden'>
                                        <label>
                                            <input name='member' value='{{vo.openid}}' type="checkbox"> {{vo.nickname}}
                                        </label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class='text-center'>
                                <a class='btn btn-warning mr20' data-dismiss="modal">取消</a>
                                <a class='btn btn-success ml20' data-event-send-form>推送</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- 在线Media图片 -->
    <script type="text/html" id="_new_media_image_tpl">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">在线图库(点击图片选择)</h4>
                    </div>
                    <div class="modal-body">
                        <div class='row'>
                            {{each list as vo index}}
                            <div class="col-xs-3">
                                <a href="javascript:void(0)" class="thumbnail">
                                    <img style="height:132px;" class='news-media-image' src="{{vo.url}}" alt="{{vo.media_id}}">
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</block>

<block name="style">
    <style>
        .news-item-container{
            width: 320px;
        }
        .news-item-title div{
            width:290px;
            height:160px;
            overflow:hidden;
        }
        .news-item-title p.title{
            width:290px;
            text-indent:5px;
            position:absolute;
            margin-top:-30px;
            line-height:30px;
            background: rgba(0,0,0,.4);
            color:#fff;
        }
        .news-item-title div img{
            width:290px;
        }
        .news-item-content{
            height:80px;
        }
        .news-item-content p{
            width: 200px;
            float: left;
        }
        .news-item-content img{
            width: 80px;
            height: 60px;
            float:right;
        }
        .edui-button-body{
            color:#333;
        }
        .news-option-container{
            position:absolute;
            display:table-cell;
            background: rgba(0,0,0,.01);
            width:320px !important;
            height:100% !important;
            margin: -10px auto auto -16px;
            padding:auto 1px;
        }

        .news-option-container p{
            position:absolute;
            width:100%;
            bottom: 0;
            margin:0px;
            background: rgba(0,0,0,.5);
            text-align:center;
            color:#eee;
            z-index:2;
        }

        .news-option-container p a{
            border-radius:0;
            border:none;
            background: none;
            color:#fff;
            padding:10px;
            margin: auto 20px;
            cursor: pointer;
            text-align:center;
            display: inline-block;
        }
        .news-option-container p.news-option-top{
            top:0;
            bottom:auto;
            text-align:right;
            background:none;
        }
        .news-option-container p.news-option-top a{
            margin-right: 0;
            padding:10px;
            margin: auto;
            color:#333;
        }
        .news-option-container p a:hover{
            color:#ff9000;
            text-decoration: none;
        }

    </style>
</block>    
