<extend name="Public:index" />

<block name="body">

    <notempty name='data.title'>
        <eq name='data.is_show_title' value='2'>
        <!--top标题开始-->
        <div class="shadow line-height-48 overflow-hidden text-center height-48">{$data.title}</div>
        <!--top标题结束-->
        </eq>
    </notempty>


    <notempty name='data.link'>
        <eq name='data.is_show_link' value='2'>
        <!--Top图片开始-->
        <div class="shadow overflow-hidden">
            <div class="box_pic">
                <img class="img-responsive width-pct-100" src="{$data.link}" alt="" />
            </div>
        </div>
        <!--Top图片结束-->
        </eq>
    </notempty>


    {:W('Wap/Page/show',array($data['modules']))}

    <notempty name='data.content'>
        <div id='content-container' class="shadow padding-20">
            <div class="media">
                <div class="text-999 line-height-24">
                    {$data.content}
                </div>
            </div>
        </div>
        <script>
            try {
                var imgs = document.getElementById('content-container').getElementsByTagName('img');
                var imgRemoveAttr = ['width', 'height', 'style'];
                for (var i in imgs) {
                    for (var j in imgRemoveAttr)
                        imgs[i].removeAttribute(imgRemoveAttr[j]);
                    imgs[i].className += " img-responsive";
                }
            } catch (e) {
            }
        </script>
    </notempty>
</block>

<block name="script">
    {:W('Wechat/JsSign')}
    <script src = "__RES__/wap/js/share.js" type = "text/javascript" ></script>
    <script>;</script>
    <script>
        var share = {};
        share.title = '{$data.title}';
        share.desc = '{$data.content|strip_tags=###|substr=###,0,100}';
        share.link = '{:to_domain(url_filter())}';
        share.imgUrl = '{$data.link}';
        share.type = 'link';
        share.success = function () {
            share.model = 'SitePage';
            share.id = '{$data.id}';
            share.img = share.imgUrl;
            /*<notempty name="share_integral">*/
            share.num = '{$share_integral_num}';
            $.form.load('{:U("Wap/Wap/setshare")}', share, 'POST');
            /*</notempty>*/
        };
        $.share.data(share);
    </script>

    <script src="__RES__/wap/js/touchslider.js" type="text/javascript"></script>
    <script type="text/javascript">
        var sliderLink, slider;
        sliderLink = $('#pagenavi a').on('click', function () {
            var index = $(this).index();
            slider.slide(index);
        });
        slider = new TouchSlider({
            id: 'slider1',
            auto: '0',
            fx: 'ease-out',
            direction: 'left',
            speed: 600,
            timeout: 5000,
            before: function (index) {
                sliderLink.removeClass('active').eq(index).addClass('active');
            }
        });
    </script>
</block>