<extend name='Public:index' />

<block name='body'>
    <div class="height-180 padding-top-12 text-center personal-banner">
        <img class="center-block img-circle width-120 height-120" src="{$member.headimgurl}" alt=""/>
        <p class="padding-top-16"><span class="text-title">{$member.nickname}</span></p>
    </div>
    <div class="container padding-top-12">
        <p>○ 此操作将使用本账号登录 PC 平台；</p>
        <p>○ 如非本人操作请勿点击登录，请妥善保管自己的账号。</p>
        <div class="padding-30 text-center">
            <button class="btn btn-success btn-block" onclick="login()" <empty name="uuid">disabled</empty>>授权登录</button>
            <p class="text-center"><empty name="uuid">参数错误无法操作</empty></p>
        </div>
    </div>
</block>

<block name="style">
    <style>
        .text-title{
            color: #EEE;
            font-weight: 600;
        }
    </style>
</block>
<block name='script'>
    {:W('Wap/Wechat/JsSign')}
    <script>
        wx.ready(function () {
            var shareData = {
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: "{$share.link}",
                imgUrl: '{$share.img}',
                trigger: function (res) {
//                    alert('用户点击发送给朋友');
                },
                success: function (res) {
                    var data = {
                        "page": '{$share.page}'
                    };
                    $.post("{:U('Wap/Share/doShare')}", data, function (data) {
                        alert(data.info);
                    }, "JSON");
                },
                cancel: function (res) {
                    alert('取消分享');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    </script>
    <script>
        //模拟扫码登录
        function login() {
            var uuid = "{$uuid}";
            $.ajax({
                type: "POST",
                url: "{:U('Wap/Login/login')}",
                data: {
                    "uuid": uuid,
                    "timed": new Date().getTime()
                },
                dataType: "json",
                success: function (data, textStatus) {
                    $.msg.auto(data);
                    setTimeout(function () {
                        wx.closeWindow();
                    }, 2000);
                }
            });
        }
    </script>
</block>