<extend name='Public:index' />

<block name="body">
    <div data-first-tag-address>
        <ul class="shadow margin-bottom-0 margin-top-10">
            <li data-edit-address class="list-group-item border-none line-height-36 margin-top-2 border-dashed text-center">
                添加收货地址
            </li>
        </ul>
    </div>
    <volist name="list" id="vo">
        <ul class="shadow margin-bottom-0 margin-top-10">
            <li class="list-group-item border-none line-height-36 margin-top-2 border-dashed">
                <p><span class="padding-right-10">{$vo.accept_name}</span>{$vo.phone}</p>
                <p>{$vo.province}{$vo.city}{$vo.area}{$vo.address}({$vo.postcode})</p>
            </li>
            <li class="list-group-item border-none line-height-36 margin-top-2">
                <label><input data-set-default-address='{$vo.id}' <eq name="vo.is_default" value="2">checked</eq> type="checkbox"/><span class="padding-left-10">默认</span></label>
            <notempty name='Think.get.redirect'>
                <php>
                    $url = I('get.redirect','','decode');
                    $split = (stripos($url,'?')!==false) ? "&" : '?' ;
                </php>
                <span data-href='{$url}{$split}addressid={$vo.id}'  class="btn btn-main pull-right padding-left-right-20 margin-left-14">使用</span>
            </notempty>
            <span data-del="{$vo.id}" data-path="Wap/Member/delAddress" class="btn btn-grey pull-right padding-left-right-20">删除</span>
            </li>
        </ul>
    </volist>
    <div class="height-20"></div>
</block>

<block name='script'>
    <script src="__LIB__/template/template.js" type="text/javascript"></script>
    <script src="__LIB__/pcasunzips.js" type="text/javascript"></script>
    <script type="text/html" id="edit_address_tpl">
        <form onsubmit="return false" data-validate-none action="{:url_filter()}" data-ajax="true" method="post">
            <ul class="shadow margin-bottom-0 margin-top-10">
                <li class="list-group-item border-none line-height-36 margin-top-2 border-dashed">
                    <input required="" pettern=".{1,}" title="请输入用户姓名" type="text" name="accept_name" value="{{userName}}" class="form-control margin-top-10" placeholder="请输入用户姓名" />
                    <input required="" pettern="phone" title="请输入手机号码" type="number" name="phone" value="{{telNumber}}" class="form-control margin-top-6" placeholder="请输入手机号码" />
                    <div class="overflow-hidden row">
                        <input name="country" type="hidden" value="中国" />
                        <div class="margin-top-6 relative col-xs-4 padding-right-8">
                            <select name="province" class="margin-right-4 border-ddd line-height-36 height-36 ellipsis width-pct-100" style="padding-right: 23px;"></select>
                            <span class="glyphicon glyphicon-chevron-down pull-right absolute font-12 text-999" style="right: 12px; top: 12px;"></span>
                        </div>
                        <div class="margin-top-6 relative col-xs-4 padding-left-4 padding-right-4">
                            <select name="city" class="margin-right-4 border-ddd line-height-36 height-36 ellipsis width-pct-100" style="padding-right: 23px;"></select>
                            <span class="glyphicon glyphicon-chevron-down pull-right absolute font-12 text-999" style=" right: 10px; top: 12px;"></span>
                        </div>
                        <div class="margin-top-6 relative col-xs-4 padding-left-8">
                            <select name="area" class="margin-right-4 border-ddd line-height-36 height-36 ellipsis width-pct-100" style="padding-right: 23px;"></select>
                            <span class="glyphicon glyphicon-chevron-down pull-right absolute font-12 text-999" style=" right: 18px; top: 12px;"></span>
                        </div>
                    </div>
                    <input name="type" type="hidden" value="共享收货地址" />
                    <input type="number" value="{{addressPostalCode}}" pattern="^[0-9]{6,6}$" title='请输入6位数字邮码' name="postcode" class="form-control margin-top-6" placeholder="请输入邮编" />
                    <input required="" pettern=".{1,}" title="详情地址不能为空" type="text" value="{{addressDetailInfo}}" name="address" class="form-control margin-top-6" placeholder="请输入详细地址" />
                </li>
                <li class="list-group-item border-none line-height-36 margin-top-2">
                    <input name="is_default" value="2" type="checkbox"/><span class="padding-left-10">默认</span>
                    <button class="btn btn-main pull-right padding-left-right-20 margin-left-14">保存</button>
                    <span class="btn btn-grey pull-right padding-left-right-20 " data-cancel-edit-address >取消</span>
                </li>
            </ul>
        </form>
    </script>
    <script>

        !(function () {

            /**
             * 构造函数处理
             * @returns {Member_address_L10._app}
             */
            var _app = function () {
                this.version = '1.0';
                this.cancelEditAddressSelecter = '[data-cancel-edit-address]';
                this.startEditAddressSelecter = '[data-edit-address]';
                this.firstAddressSelecter = '[data-first-tag-address]';
                this.eventHandler();
            }

            /**
             * 事件绑定处理
             * @returns {undefined}
             */
            _app.prototype.eventHandler = function () {
                var self = this;
                $('input[data-set-default-address]').off('ifChecked').on('ifChecked', function () {
                    var id = $(this).attr('data-set-default-address');
                    $.form.load('{:U("Wap/Member/setDefaultAddress",array("id"=>"_ID_"))}'.replace('_ID_', id));
                });
                $(this.cancelEditAddressSelecter).off('click').on('click', function () {
                    var self = this;
                    $.msg.confirm('确定要放弃此次编辑', function () {
                        $(self).parents('form').slideUp(function () {
                            $(this).remove();
                        });
                        $.msg.close();
                    });
                });

                $(this.startEditAddressSelecter).off('click').on('click', function () {
                    if ($(self.firstAddressSelecter).next('form').size() > 0) {
                        return $.msg.alert('添加的地址未保存呢！');
                    }
                    window.edit_address(function (res) {
                        if (res.err_msg === 'edit_address:ok') {
                            self.showAddress(res);
                        } else if (res.err_msg === 'edit_address:fail') {
                            $.msg.alert('您取消了添加地址！');
                        } else {
                            $.msg.confirm('读取共享收货地址失败<br>是否手动录入信息？', function () {
                                self.showAddress();
                                $.msg.close();
                            })
                        }
                    });
                })
            };

            /**
             * 显示刷新页面
             * @param {type} data
             * @returns {undefined}
             */
            _app.prototype.showAddress = function (data) {
                data = data || {};
                var html = template('edit_address_tpl', data);
                $(this.firstAddressSelecter).after($(html).removeAttr('data-validate-none'));
                new PCAS("province", "city", "area",
                        data.proviceFirstStageName || '',
                        data.addressCitySecondStageName || '',
                        data.addressCountiesThirdStageName || '');
                $('body').trigger('input.check.init');
                this.eventHandler();
            };

            /**
             * 实例操作
             */
            new _app();

        })();

    </script>
    {:W('Wechat/JsAddress')}
    {:W('Wap/Wechat/jsHideMenu')}
        <script>
        wx.ready(function () {
            var shareData = {
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: "{$share.link}",
                imgUrl: '{$share.img}',
                trigger: function (res) {
//                    alert('用户点击发送给朋友');
                },
                success: function (res) {
                    var data = {
                        "page": '{$share.page}'
                    };
                    $.post("{:U('Wap/Share/doShare')}", data, function (data) {
                        alert(data.info);
                    }, "JSON");
                },
                cancel: function (res) {
                    alert('取消分享');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    </script>
</block>