<extend name='Public:index' />

<block name='body'>
    <div class="height-180 padding-top-12 text-center personal-banner">
        <img class="center-block img-circle width-120 height-120" src="{$member.headimgurl}" alt=""/>
        <p data-href="{:U('Wap/Member/integral')}" class="padding-top-16">总积分：<span class="padding-right-10">{$member.total_integral}</span> 可用积分：<span>{$member.integral}</span></p>
    </div>
    <div class="font-12 padding-top-14 shadow overflow-hidden height-60 text-center tab-bottom">
        <div class="col-xs-3 border-right-ddd"><a href="{$total.pay_url}">{$total.pay}<br />待付款</a></div>
        <div class="col-xs-3 border-right-ddd"><a href="{$total.route_url}">{$total.route}<br />待发货</a></div>
        <div class="col-xs-3 border-right-ddd"><a href="{$total.routed_url}">{$total.routed}<br />已发货</a></div>
        <div class="col-xs-3"><a href="{$total.success_url}">{$total.success}<br />已完成</a></div>
    </div>
    <ul class="list-group">

        <li data-href="{:U('Shop/CreditOrder/index')}" class="list-group-item border-none shadow line-height-36 margin-top-1 ">
            <span class="glyphicon glyphicon-tags"></span>
            <span class="padding-left-10">我的兑换记录</span>
            <span class="glyphicon glyphicon-chevron-right pull-right padding-top-8"></span>
        </li>

        <li data-href="{:U('Shop/MyOrder/index')}" class="list-group-item border-none shadow line-height-36 margin-top-2 ">
            <span class="glyphicon glyphicon-time"></span>
            <span class="padding-left-10">我的购买记录</span>
            <span class="glyphicon glyphicon-chevron-right pull-right padding-top-8"></span>
        </li>

        <li data-href="{:U('Wap/Member/integral')}" class="list-group-item border-none shadow line-height-36 margin-top-10 ">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="padding-left-10">我的积分记录</span>
            <span class="glyphicon glyphicon-chevron-right pull-right padding-top-8"></span>
        </li>

        <li data-href="{:U('Wap/Member/info')}" class="list-group-item border-none shadow line-height-36 margin-top-10 ">
            <span class="glyphicon glyphicon-user"></span>
            <span class="padding-left-10">个人资料管理</span>
            <span class="glyphicon glyphicon-chevron-right pull-right padding-top-8"></span>
        </li>

        <li data-href="{:U('Wap/Member/address')}" class="list-group-item border-none shadow line-height-36 margin-top-2">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span class="padding-left-10">收获地址管理</span>
            <span class="glyphicon glyphicon-chevron-right pull-right padding-top-8"></span>
        </li>
    </ul>
    <div class='height-40'></div>
    <div class="font-12 shadow-bottom overflow-hidden margin-top-18 navbar-fixed-bottom height-49 text-center tab-bottom line-height-48">
        <div class="col-xs-3 border-right-ddd height-49"><a href="{:U('/wap')}"><span class="glyphicon glyphicon-home font-20 padding-top-14"></span></a></div>
        <div class="col-xs-3 border-right-ddd height-49"><a href="{:U('Shop/index/index')}" class="block">在线商品</a></div>
        <div class="col-xs-3 border-right-ddd height-49"><a href="{:U('Shop/Car/index')}">购物车</a></div>
        <div class="col-xs-3"><a href="{:U('Shop/MyOrder/index')}">我的订单</a></div>
    </div>
</block>

<block name='script'>
    {:W('Wap/Wechat/JsSign')}
    <script>
        wx.ready(function () {
            var shareData = {
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: "{$share.link}",
                imgUrl: '{$share.img}',
                trigger: function (res) {
//                    alert('用户点击发送给朋友');
                },
                success: function (res) {
                    var data = {
                        "page": '{$share.page}'
                    };
                    $.post("{:U('Wap/Share/doShare')}", data, function (data) {
                        alert(data.info);
                    }, "JSON");
                },
                cancel: function (res) {
                    alert('取消分享');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    </script>
</block>