<extend name='Public:index' />

<block name='body'>
    <div class="height-180 padding-top-12 text-center personal-banner">
        <img class="center-block img-circle width-120 height-120" src="{$member.headimgurl}" alt=""/>
        <p data-href="{:U('Wap/Member/integral')}" class="padding-top-16">总积分：<span class="padding-right-10">{$member.total_integral}</span> 可用积分：<span>{$member.integral}</span></p>
    </div>
    <form class='padding-20' method='POST' data-ajax='true' action="{:U('Wap/Member/info')}">
        <notempty name='msg'><div class="alert alert-danger" role="alert"><i class='glyphicon glyphicon-info-sign'></i> {$msg}</div></notempty>
        <input type='hidden' value='{$member.id}' name='id' />
        <input type="text" value="{$member.name}" required="" title='请输入姓名' name='name' placeholder="真实姓名" class="form-control margin-top-20 border-bottom-eee"/>
        <input type="number" value="{$member.phone}" required="" pattern="mobi" name='phone' title='请输入正确的手机号码' placeholder="联系手机" class="form-control margin-top-20 border-bottom-eee"/>
        <div class="overflow-hidden  margin-top-20 row">
            <input name="country" type="hidden" value="中国" />
            <div class="margin-top-6 relative col-xs-4 padding-right-8">
                <select name="province" class="margin-right-4 border-ddd line-height-36 height-36 ellipsis width-pct-100" style="padding-right: 23px;"></select>
                <span class="glyphicon glyphicon-chevron-down pull-right absolute font-12 text-999" style="right: 12px; top: 12px;"></span>
            </div>
            <div class="margin-top-6 relative col-xs-4 padding-left-4 padding-right-4">
                <select name="city" class="margin-right-4 border-ddd line-height-36 height-36 ellipsis width-pct-100" style="padding-right: 23px;"></select>
                <span class="glyphicon glyphicon-chevron-down pull-right absolute font-12 text-999" style=" right: 10px; top: 12px;"></span>
            </div>
            <div class="margin-top-6 relative col-xs-4 padding-left-8">
                <select name="area" class="margin-right-4 border-ddd line-height-36 height-36 ellipsis width-pct-100" style="padding-right: 23px;"></select>
                <span class="glyphicon glyphicon-chevron-down pull-right absolute font-12 text-999" style=" right: 18px; top: 12px;"></span>
            </div>
        </div>
        <input type="text" value="{$member.address}" required="" name='address' title='请输入详细地址' placeholder="详细地址" class="form-control margin-top-20 border-bottom-eee"/>
        <button class="btn btn-main btn-block margin-top-20 margin-bottom-20">提交保存</button>
    </form>
</block>

<block name='script'>
    {:W('Wap/Wechat/JsSign')}
    <script>
        wx.ready(function () {
            var shareData = {
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: "{$share.link}",
                imgUrl: '{$share.img}',
                trigger: function (res) {
//                    alert('用户点击发送给朋友');
                },
                success: function (res) {
                    var data = {
                        "page": '{$share.page}'
                    };
                    $.post("{:U('Wap/Share/doShare')}", data, function (data) {
                        alert(data.info);
                    }, "JSON");
                },
                cancel: function (res) {
                    alert('取消分享');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    </script>
    <script src="__LIB__/pcasunzips.js" type="text/javascript"></script>
    <script>
        $(function () {
            new PCAS('province', 'city', 'area', '{$member.province}', '{$member.city}', '$member.area');
        });
    </script>
</block>