<extend name='Public:index' />

<block name="body">
    <div class="height-180 padding-top-12 text-center personal-banner">
        <img class="center-block img-circle width-120 height-120" src="{$member.headimgurl}" alt=""/>
        <p class="padding-top-16">总积分：<span class="padding-right-10">{$member.total_integral}</span> 可用积分：<span>{$member.integral}</span></p>
    </div>
    <div class="border-ccc shadow">
        <empty name="list">
            还没有积分记录哦     
        </empty>
        <notempty name="list">
            <table class="table table-striped text-center margin-bottom-0">
                <thead>
                    <tr>
                        <th class="text-center border-none">积分时间</th>
                        <th class="text-center border-none">积分分值</th>
                        <th class="text-center border-none">积分方式</th>
                    </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.create_date|strtotime|date="Y/m/d",###}</td>
                        <td>{$vo.integral}</td>
                        <td>{$vo.desc}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
            {$page}
        </notempty>
    </div>
</block>

<block name='script'>   
    {:W('Wap/Wechat/JsSign')}
    <script>
        wx.ready(function () {
            var shareData = {
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: "{$share.link}",
                imgUrl: '{$share.img}',
                trigger: function (res) {
//                    alert('用户点击发送给朋友');
                },
                success: function (res) {
                    var data = {
                        "page": '{$share.page}'
                    };
                    $.post("{:U('Wap/Share/doShare')}", data, function (data) {
                        alert(data.info);
                    }, "JSON");
                },
                cancel: function (res) {
                    alert('取消分享');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    </script>
</block>