<notempty name='_data_.content'>
    <!--banner开始-->
    <div class="shadow overflow-hidden">
        <div class="box_pic">
            <if condition="count($_data_['content']) gt 1 ">
                <div id="slider1" class="swipe">
                    <ul class="piclist">
                        <volist name="_data_.content" id="vo">
                            <li><a href="{$vo.href|U}"><img class="img-responsive" src="{$vo.src}?imageView2/5/w/640/h/360" alt="" /></a></li>
                        </volist>
                    </ul>
                </div>
                <div id="pagenavi" class="page">
                    <span class="pageBox">
                        <volist name="_data_.content" id="vo">
                            <a href="{$vo.href|U}"  class="<eq name='i' value=''>active</eq>"></a>         
                        </volist>
                    </span>
                </div>
                <else />
                <volist name="_data_.content" id="vo">
                    <a href="{$vo.href|U}"><img class="img-responsive width-pct-100" src="{$vo.src}" alt="" /></a>
                </volist>
            </if>
        </div>
    </div>
    <!--banner结束-->
</notempty>