<extend name="Public:index" />

<block name='pContent'>

    <div class="panel panel-default">
        <div class="panel-heading">{$ptitle}</div>
        <div class="panel-body" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <volist name="list" id="vo">
                    <li role="presentation" class="<eq name='i' value='1'>active</eq>"><a href="#tab_{$i}" aria-controls="#tab_{$i}" role="tab" data-toggle="tab">{$key}</a></li>
                </volist>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <volist name="list" id="vo" key='_i'>
                    <div role="tabpanel" class="tab-pane <eq name='_i' value='1'>active</eq>" id="tab_{$_i}">
                        <form onsubmit="return false" action="{:url_filter()}" data-ajax="true" method="post"  class="form-horizontal mb40" role="form">
                            <!--List group--> 
                            <ul class="mt20">
                                <volist name="vo" id="v">
                                    <li class=" list-unstyled">
                                        <eq name='v.ele' value='input'>
                                        <div class="form-group pl10 pr10">
                                            <label for="config_input_{$v.code}" class="col-sm-2 control-label tr">{$v.label}<notempty name="v.required"><b class="required">*</b></notempty></label>
                                            <div class="col-sm-9">
                                                <input <notempty name="v.required">required="required"</notempty> pattern="{$v.pattern}" title="{$v.title}" value="{$v.value}" name="{$v.code}" type="text" class="form-control" id="config_input_{$v.code}" />
                                                <notempty name="v.desc"><p class="help-block">{$v.desc}</p></notempty>
                                            </div>
                                        </div>
                                        </eq>
                                        <eq name='v.ele' value='radio'>
                                        <div class="form-group pl10 pr10">
                                            <label class="col-sm-2 control-label tr">{$v.label}<notempty name="v.required"><b class="required">*</b></notempty></label>
                                            <div class="col-sm-9">
                                                <div class='form-control'>
                                                    <php>
                                                        $labs = explode(',',$v['option']);
                                                        foreach($labs as &$_v) $_v = explode(':',$_v);
                                                    </php>
                                                    <volist name='labs' id='lab'>
                                                        <label style='display:inline-block;margin-right:10px'>
                                                            <input <eq name='v.value' value='$lab.1'>checked</eq> type="radio" name="{$v.code}" value="{$lab.1}" /> {$lab.0}
                                                        </label>
                                                    </volist>
                                                    <notempty name="v.desc"><p class="help-block mb0">{$v.desc}</p></notempty>
                                                </div>
                                            </div>
                                        </div>
                                        </eq>
                                        <eq name='v.ele' value='select'>
                                        <div class="form-group pl10 pr10">
                                            <label class="col-sm-2 control-label tr">{$v.label}<notempty name="v.required"><b class="required">*</b></notempty></label>
                                            <div class="col-sm-9">
                                                <php>
                                                    $labs = explode(',',$v['option']);
                                                    foreach($labs as &$_v) $_v = explode(':',$_v);
                                                </php>
                                                <select name='{$v.code}' class='form-control'>
                                                    <volist name='labs' id='lab'>
                                                        <option <eq name='v.value' value='$lab.1'>selected</eq> value='{$lab.1}'>{$lab.0}</option>
                                                    </volist>
                                                </select>
                                                <notempty name="v.desc"><p class="help-block">{$v.desc}</p></notempty>
                                            </div>
                                        </div>
                                        </eq>
                                    </li>
                                </volist>
                            </ul>
                            <div class='col-xs-offset-5'><button class="btn btn-success">保存配置</button></div>
                        </form>
                    </div>
                </volist>
            </div>
        </div>
    </div>
</block>