<extend name="Public:index" />

<block name='ptitle'>
    {$ptitle}
    <span class='pull-right'>
        <if condition="auth('Admin/Menu/add')">
            <button data-load="{:U('Admin/Menu/add')}" class="btn btn-success btn-sm mr5">添加导航</button>
        </if>
    </span>
</block>

<block name="content">
    <wx:table 
        list='list'
        order="true"
        check="false"
        color="status|show_color"
        class='table table-striped table-bordered table-hover table-center' 
        show='title:菜单名称:align_left,target:打开方式,status|show_status_text:状态' 
        action="id|show_menu_button" />
</block>
