<extend name='Public:form' />

<block name='form'>

    <div class="form-group">
        <label for="menu_title" class="col-sm-2 control-label tr">上级菜单 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name="pid" class="form-control">
                <!--<volist name="list" id="m">-->
                <option <eq name="vo.pid" value="$m.id">selected</eq> value="{$m.id}">{$m.spl}{$m.title}</option>
                <!--</volist>-->
            </select>        
        </div>
    </div>

    <div class="form-group">
        <label for="menu_title" class="col-sm-2 control-label tr">菜单名称 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input autofocus required="" value="{$vo.title}" pattern="^.{2,}$" title="菜单至少2个字符！" type="text" name="title" class="form-control" id="menu_title" placeholder="输入菜单名称">
        </div>
    </div>

    <div class="form-group">
        <label for="menu_code" class="col-sm-2 control-label">节点代码</label>
        <div class="col-sm-9" id='menu_code_select'>
            <input class='form-control' readonly="readonly" id='menu_code' name='code' value='{$vo.code}' />
            <p class="help-block">用于RBAC权限控制，可以通过下面的选择器设置</p>
            <div style="white-space:nowrap">选择器：</div>
        </div>
    </div>

    <div class="form-group">
        <label for="menu_url" class="col-sm-2 control-label">链接地址 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input type="text" value="{$vo.url|default='#'}" required="" name="url" class="form-control" id="menu_url" placeholder="请输入链接地址">
            <p class="help-block">
                <a href='javascript:void(0)' onclick='$(this).parent("p").prev("input").val($("#menu_code").val() || "#")'>复制节点代码</a>
                可以填写完整URL地址或系统U函数的参数值
            </p>
        </div>
    </div>

    <div class="form-group">
        <label for="menu_url" class="col-sm-2 control-label">链接参数</label>
        <div class="col-sm-9">
            <input type="text" value="{$vo.request}" name="request" class="form-control" id="menu_url" placeholder="请输入链接参数">
            <p class="help-block">链接后所带的参数，格式如：a=1&b=2&c=3</p>
        </div>
    </div>

    <div class="form-group">
        <label for="menu_ico" class="col-sm-2 control-label">图标样式</label>
        <div class="col-sm-9">
            <input type="text" value="{$vo.ico}" name="ico" class="form-control" id="menu_ico">
        </div>
    </div>

    <div class="form-group">
        <label for="menu_sort" class="col-sm-2 control-label">排序 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input type="text" value="{$vo.sort|default=0}" required="" name="sort" class="form-control" id="menu_sort" placeholder="请输入链接地址">
        </div>
    </div>

    <div class="form-group">
        <label for="menu_url" class="col-sm-2 control-label">打开方式</label>
        <div class="col-sm-9">
            <select name="target" class="form-control">
                <!--<volist name="target" id="t">-->
                <!--<eq name="key" value="$vo['target']">-->
                <option selected="selected" value="{$key}">{$t}</option>
                <!--<else />-->
                <option  value="{$key}">{$t}</option>
                <!--</eq>-->
                <!--</volist>-->
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">菜单状态</label>
        <div class="col-sm-9">
            <div class='form-control'>
                <label><input <neq name='vo.status' value='1'>checked</neq> type="radio" name="status" value="2" /> 启用</label>
                <label><input <eq name='vo.status' value='1'>checked</eq> type="radio" name="status" value="1" /> 禁用</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">菜单描述</label>
        <div class="col-sm-9">
            <textarea class='form-control' name='desc'>{$vo.desc}</textarea>
        </div>
    </div>

    <notempty name="vo">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>

</block>

<block name='script'>
    <script>
        $(function () {
            function createSelect(data, selectValue, type) {
                var sm = document.createElement('select');
                var om = document.createElement('option');
                om.value = '';
                om.innerHTML = '请选择节点';
                sm.appendChild(om);
                for (var i in data) {
                    var om = document.createElement('option');
                    var value = i;
                    var title = i;
                    var tmp = data[i];
                    if (typeof (data[i]) === 'string') {
                        value = data[i];
                    }
                    switch (type) {
                        case 'm':
                            for (var _a in data[i]) {
                                for (var _b in data[i][_a]) {
                                    if (data[i][_a][_b]['gtitle']) {
                                        title = data[i][_a][_b]['gtitle'];
                                        break;
                                    }
                                }
                            }
                            break;
                        case 'c':
                            for (var _a in data[i]) {
                                if (data[i][_a]['ptitle']) {
                                    title = data[i][_a]['ptitle'];
                                    break;
                                }
                            }
                            break;
                        case 'a':
                            if (data[i]['title']) {
                                title = data[i]['title'];
                            }
                    }

                    if (selectValue === value) {
                        om.selected = 'selected';
                    }
                    om.value = value;
                    om.innerHTML = title;
                    sm.appendChild(om);
                }
                return sm;
            }

            $.get('__SELF__', {action: 'getNodeTree'}, function (data) {
                var d = $('#menu_code').val().split('/');
                var m = createSelect(data, d[0] || false, 'm');
                $('#menu_code_select div').append($(m));
                $(m).on('change', function () {
                    var mdata = $(this).val();
                    $('#menu_code').val(mdata);
                    $(this).nextAll('select').remove();
                    if (!mdata) {
                        return;
                    }
                    var c = createSelect(data[mdata], d[1] || false, 'c');
                    $(this).after($(c));
                    $(c).on('change', function () {
                        $(this).next('select').remove();
                        var cdata = $(this).val();
                        $('#menu_code').val(mdata + '/' + cdata);
                        if (!cdata) {
                            $('#menu_code').val(mdata);
                            return;
                        }
                        var a = createSelect(data[mdata][cdata], d[2] || false, 'a');
                        $(this).after($(a));
                        $(a).on('change', function () {
                            var adata = $(this).val();
                            $('#menu_code').val(mdata + '/' + cdata + '/' + adata);
                            if (!adata) {
                                $('#menu_code').val(mdata + '/' + cdata);
                            }
                        }).trigger('change');
                    }).trigger('change');
                }).trigger('change');
            });
        });
    </script>
</block>