<div class="modal fade" data-keyboard='false' data-backdrop='static' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <block name="content">
                <form onsubmit="return false" action="{:url_filter()}" data-ajax="true" method="post">
                    <div class="modal-header title">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"><block name='title'>{$ptitle}</block></h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body form-horizontal">
                            <block name='form'></block>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class='btn btn-warning btn-sm mr20' onclick="confirm('确认要取消吗？') && $.form.close();" href='javascript:void(0);'>取消</a>
                        <button class="btn btn-success btn-sm mr10">保存</button>
                    </div>
                </form>
            </block>
        </div>
    </div>
    <block name='script'></block>
</div>