<extend name='Admin@Public:form' />

<block name="content">
    <div class="form-group">
        <label class="col-sm-2 control-label tr">奖品类型 <b class="required">*</b></label>
        <div class="col-sm-9">
            <select name="cate_id" class="form-control ui-select2" title="请选择奖品类型" required>
                <volist name="catelist" id="list">
                    <option value="{$list.id}" <eq name="list.id" value="$vo.cate_id">selected</eq>>{$list.name}</option>
                </volist>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">奖品名称 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input value="{$vo.name}" type="text" maxlength="30" pattern="^.{2,30}$" title="奖品名称请输入2-30位字符" name="name" class="form-control" placeholder="请输入奖品名称">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">奖品编号 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input required="" value="{$vo.code}" onkeyup="this.value = this.value.replace(/[^\d|a-z|A-Z]/g, '')"  maxlength="18" pattern="^.([A-Z]|[a-z]|[0-9]){5,17}$" title="奖品编号请输入6-18位字符" type="text" name="code" class="form-control" placeholder="请输入奖品编号">
        </div>
    </div>
    <div class="form-group page page_02">
        <label class="col-sm-2 control-label tr">积分数值 <b class="required">*</b></label>
        <div class="col-sm-9">
            <input required="" value="{$vo.jifen}" onkeyup="this.value = this.value.replace(/[^\d|.]/g, '')"   maxlength="10" pattern="^[.0-9]{0,10}$" title="积分数值请输入少于10位数字" type="text" name="jifen" class="form-control" placeholder="请输入积分数值">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">奖品图片</label>
        <div class="col-sm-9">
            <input type='hidden' name="img" value="{$vo.img}" />
            <img alt="" class="upload_one_img thumbnail" data-name="img" src="{:to_domain($vo['img'])}">
            <!--            <notempty name="vo.img">
                            <php>$imgUrl = explode('|',trim($vo['img'],'|'));</php>
                            <volist name="imgUrl" id="img">
                                <img alt="" data-src="{$img|to_domain}" src="{$img|to_domain}?imageView2/2/h/80" class="upload-thumbnail thumbnail"/>
                            </volist>
                        </notempty>-->
        </div>
    </div>
    <div class="form-group page page_01">
        <label class="col-sm-2 control-label tr">奖品价格</label>
        <div class="col-sm-9">
            <input value="{$vo.price}" type="text" maxlength="10" onkeyup="this.value = this.value.replace(/[^\d|.]/g, '')"  pattern="^[.0-9]{0,10}$" title="奖品价格请输入少于10位数字" name="price" class="form-control" placeholder="请输入奖品价格">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">奖品库存</label>
        <div class="col-sm-9">
            <input value="{$vo.nums}" type="text"  maxlength="10" onkeyup="this.value = this.value.replace(/[^\d|.]/g, '')"  pattern="^[.0-9]{0,10}$" title="奖品库存请输入少于10位数字" name="nums" class="form-control" placeholder="请输入奖品库存">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">兑换有效期</label>
        <div class="col-sm-9">
            <input value="{$vo.unset_date}" type="text"  data-datepicker name="unset_date" class="form-control" placeholder="请输入兑换有效期">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">活动状态</label>
        <div class="col-sm-9">
            <div class="form-control">
                <label><input value="2" type="radio" name="status" class="ace" <neq name="vo.status" value="1">checked</neq>><span class="lbl">启用</span></label>
                <label><input value="1" type="radio" name="status" class="ace" <eq name="vo.status" value="1">checked</eq>><span class="lbl">禁用</span></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label tr">备注</label>
        <div class="col-sm-9">
            <textarea class="form-control" name="remark">{$vo.remark}</textarea>
        </div>
    </div>
    <notempty name="vo">
        <input type="hidden" value="{$vo.id|default=0}" name="id"/>
    </notempty>
</block>
<block name="script">
    <script src="__RES__/lib/pcasunzips.js" type="text/javascript"></script>
    <script>
                $(function () {
                    $.datetime('input[name=unset_date]');
                    $("select[name=cate_id]").val() == 1 ? showPage(".page_01") : showPage(".page_02");

                    $("select[name=cate_id]").change(function () {
                        $("select[name=cate_id]").val() == 1 ? showPage(".page_01") : showPage(".page_02");
                    });
                });
                function showPage(page) {
                    var $page = $(page).show(200);
                    $('.page').not($page).hide(200);
                }
    </script>
</block>